.main{
    margin-top: -15px;
}
.main .bannerPannel{
    position: relative;
    height: 568px;
    width: 100%;
    min-width: 962;
    overflow: hidden;
    z-index: 5;
}

.main .bannerPannel .imgField{
    position: absolute;
    width: 1680px;
    height: 100%;
    left: 50%;
    margin-left: -840px;
}


.main .selectField{
    background: url("http://www.ascottchina.com/images/bg01.png") repeat left top;
    height: 99px;
    width: 100%;
    padding: 10px 0;
    z-index: 6;
    position: absolute;
    top: 450px;
}

.main .textPannel01 .ul01{
    margin-left: -45px;
    overflow: hidden;
}
.main .textPannel01 .ul01 li{
    float: left;
    margin:38px 0 0 45px;
    padding-bottom: 38px;
    width: 290px;
}
.main .textPannel01 .ul01 .picAear{
    margin-bottom: 10px;
}











