
.main{
    margin-top: -15px;
}
.main .bannerPannel{
    position: relative;
    height: 568px;
    width: 100%;
    min-width: 962;
    overflow: hidden;
    z-index: 5;
}

.main .bannerPannel .imgField{
    position: absolute;
    width: 1680px;
    height: 100%;
    left: 50%;
    top: 0;
    margin-left: -840px;
}

.main .selectField{
    background: url("http://www.ascottchina.com/images/bg01.png") repeat left top;
    height: 99px;
    width: 100%;
    padding: 10px 0;
    z-index: 6;
    position: absolute;
    top: 400px;
}




.main .textPannel03{
    padding: 0 0 55px;
}
.main .pathField{
    height: 52px;
    line-height: 52px;
    color: #c7c7c7;
}
.main .pathField a{
    margin: 0 5px;
    color: #c7c7c7;
}
.main .pathField a.on{
    color: #9f9f9f;
}
.main h6{
    font-size: 40px;
    color: #000;
    margin: 25px 0;
    text-align: center;
}

.main p{
    padding: 20px;
    background:  #f2f2f2;
}


.main .textPannel03 .textField05{
    background: url("http://www.ascottchina.com/images/aboutImg.jpg") no-repeat center top;
    width: 488px;
    height: 287px;
    padding: 150px 290px 165px 182px;
}
.main .textPannel03 .textField05 p{
    color: #494949;
    line-height: 22px;
    text-indent: 2em;
}


.main .textPannel03 .textField06{
    width: 1024px;
    margin: auto;
    height: 100%;
    color: #666;
    font-size: 15px;
}
.main .textPannel03 .textField06 ul li{
    width: 19.883%;
    height: 100%;
    float: left;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;

}


.textbiaoti{
    height: 120px;
    font-size: 23px;
    line-height: 30px;
    color: #000000;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}








.main .textPannel03 .textField07 .honorTitle{
    background: url("http://www.ascottchina.com/images/aboutTabLineBg.jpg") repeat-x left top;
    height: 53px;
    line-height: 53px;
}
.main .textPannel03 .textField07 .honorTitle span{
    cursor: pointer;
    display: block;
    float: left;
    padding: 0 12px;
    text-align: center;
    font: 100 16px/53px Arial;
}
.main .textPannel03 .textField07 .honorTitle span.on{
    font-weight: bold;
    background: #F2F2F2;
}
.main .textPannel03 .textField07 .honorCont{
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    color: #666;
    display: none;
}
.main .textPannel03 .textField07 .honorCont li{
    float: left;
    width: 278px;
    height: 98px;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    line-height: 22px;
    padding: 10px 20px 20px 20px;
    position: relative;
}
.main .textPannel03 .textField07 .honorCont h1{
    font-weight: bold;
    font-size: 12px;
}
.main .textPannel02 .bd{
    color: #454545;
}
.main .textPannel02 .bd a{
    color: #ad812c;
    text-decoration: underline;
}
.main .search{
    background: #F2F2F2;
    padding: 20px;
}
.main .search h2{
    font-size: 14px;
    color: #666;
}
.main .search th{
    color: #676767;
}
.main .search .inputText01{
    width: 279px;
    height: 25px;
    line-height: 25px;
    background: #fff;
    color: #888;
    border: none;
    padding: 0 3px;
}
.main .search .inputW01{
    width: 138px;
}
.main .search td{
    padding-left: 10px;
}
.main .search .inputBut01{
    width: 68px;
    height: 24px;
    border: none;
    background: #bababa;
    text-align: center;
    color: #444;
    cursor: pointer;
}
.main .search .inputB01{
    background: none;
    width: 40px;
}


.main .textPannel03 .textField08{
    color: #666;
}
.main .textPannel03 .textField08 .dl03{
    margin-left: -15px;
    overflow: hidden;
}
.main .textPannel03 .textField08 .dl03 dd{
    float: left;
    width: 309px;
    height: 392px;
    position: relative;
    background: #f7f6f6;
    margin: 30px 0 0 15px;
}
.main .textPannel03 .textField08 .dl03 .textAear{
    padding: 15px;
}
.main .textPannel03 .textField08 .dl03 dd .time{
    color: #9e9e9e;
}
.main .textPannel03 .textField08 .dl03 dd h1{
    font-size: 14px;
    color: #000;
    margin: 10px 0 15px 0;
    font-weight: 100;
}
.main .more{
    position: absolute;
    bottom: 8px;
}
.main .more a{
    color: #c79b42;
    border-top: 1px dashed #c89c43;
    margin-left: 10px;
    padding-top: 4px;
}
.pageNumber{
    margin: 40px 0 0;
    position: relative;
    text-align: center;
}
.pageNumber .pageCont{
    display: inline-block;
    text-align: center;
}
.pageNumber a, .pageNumber span{
    float: left;
    padding: 0 15px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    border: 1px solid #F2F2F2;
    text-align: center;
    color: #666;
    margin-left: -1px;
}
.pageNumber .page{
    float: left;
    overflow: hidden;
}
.pageNumber .act{
    background: #F2F2F2;
}






.main .textPannel03 .textField08{
    color: #666;
}
.main .textPannel03 .textField08 .dl04{
    margin-left: -46px;
    overflow: hidden;
}
.main .textPannel03 .textField08 .dl04 dd{
    float: left;
    width: 290px;
    margin: 0 0 55px 46px;
}
.main .textPannel03 .textField08 .dl04 dd .desc{
    background: url("http://www.ascottchina.com/images/joinTip01.jpg") no-repeat right center #F2F2F2;
    height: 47px;
    line-height: 47px;
    font-size: 24px;
    padding-left: 10px;
}
.main .textPannel03 .textField08 .dl04 dd .desc a{
    color: #000;
    display: block;
}











.main{
    margin-top: -15px;
}
.main .textPannel03 .textField08 .cardCont{
    border: 5px solid#b7b7b7;
    padding: 1px;
    width: 917px;
    height: 557px;
}
h1,h2,h3,h4,h5,h6,th{
    font-weight: 100;
}
#FX a{
    background: url("http://www.ascottchina.com/images/fengxiangImg01.jpg") no-repeat left top;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    padding: 0;
    display: block;
    float: left;
}
#FX .fxQq{
    background-position: -34px top;
}
#FX .fxRr{
    background-position: -101px top;
}
#FX .fxKx{
    background-position: -169px top;
}
#FX .fxQz{
    background-position: -135px top;
}

















