
.main{
    margin-top: -15px;
}
.main .bannerPannel{
    position: relative;
    height: 568px;
    width: 100%;
    min-width: 962;
    overflow: hidden;
    z-index: 5;
}

.main .bannerPannel .imgField{
    position: absolute;
    width: 1680px;
    height: 100%;
    left: 50%;
    top: 0;
    margin-left: -840px;
}


.main .pathField{
    height: 52px;
    line-height: 52px;
    color: #c7c7c7;
}
.main .pathField a{
    margin: 0 5px;
    color: #c7c7c7;
}
.main .pathField a.on{
    color: #9f9f9f;
}



.main .textPannel03{
    padding-bottom:55px;
}
.main .textPannel03 .titleField{
    font-size: 30px;
    color: #666;
    line-height: 24px;
    background: url("http://www.ascottchina.com/images/tabActLine.jpg")repeat-x left bottom;
}
.main .textPannel03 .titleField a{
    color: #666;
    padding: 25px 0;
    display: block;
    float: left;
    margin-right: 40px;
}
.main .textPannel03 .titleField a.on{
    color: #c89b41;
    background: url("http://www.ascottchina.com/images/tabTline.jpg")repeat-x left bottom;
}


.main .search{
    background: #F2F2F2;
    padding: 20px;
}
.main .search h2{
    font-size: 14px;
    color: #666;
    font-weight: normal;
}
.main .search h1{
    color: #b0b0b0;
    margin-bottom: 15px;
    font-size: 10px;
    font-weight: normal;
}
.main .search th{
    color: #676767;
}
.main .search td{
    padding-left: 10px;
}
.main .search .w4{
    width: 253px;
    background: #fff;
    border: 0;
    color: #888;
}
.main .search .mar01{
    padding-left: 28px;
}
.main .search .w5{
    width: 265px;
    background: #fff;
    border: 0;
    color: #888;
    margin-right: 2px;
}
.main .search .mar02{
    padding-left: 35px;
}
.main .search .inputBut01{
    width: 69px;
    height: 24px;
    border: none;
    background: #dadada;
    text-align: center;
    color: #444;
    cursor: pointer;
}
.main .textPannel03 .textField dd{
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    min-height: 150px;
    width: 318px;
    margin-top: 20px;
}
.main .textPannel03 .textField h1{
    font-size: 24px;
    color: #000;
    padding: 12px 0;
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 12px;
    font-weight: 100;
}
.main .textPannel03 .textField li{
    line-height: 24px;
    position: relative;
}
.main .textPannel03 .textField li a{
    color: #676767;
}
.main .textPannel03 .textField .tishi{
    position: absolute;
    top: 3px;
    margin-left: 8px;
}

.main .selectField{
    background: url("http://www.ascottchina.com/images/bg01.png") repeat left top;
    height: 99px;
    width: 100%;
    padding: 10px 0;
    z-index: 6;
    position: absolute;
    top: 391px;
}




.main .textPannel03 .textField08{
    color: #666;
}

.main .textPannel03 .textField08 .happyTitle{
    position: relative;
    z-index: 6;
}
.main h6{
    font-size: 30px;
    color: #c79b42;
    margin: 25px 0;
}
.main .textPannel03 .textField08 .happyTitle h6{
    margin: 15px 0 0;
}
.main .textPannel03 .textField08 .happyTitle .sel{
    position: absolute;
    right: 25px;
    bottom: 0;
    width: 140px;
    font-size: 14px;
    z-index: 9;
}
.main .textPannel03 .textField08 .happyTitle .timeT{
    float: left;
    width: 40px;
}
.main .textPannel03 .textField08 .happyTitle .timeAear{
    float: left;
    width: 100px;
}
.main .textPannel03 .textField08 .happyList{
    position: relative;
}
.main .textPannel03 .textField08 .happyList ul{
    overflow: hidden;
}
.main .textPannel03 .textField08 .happyList li{
    padding: 32px 0 0 20px;
    width: 280px;
    position: absolute;
}
.main .textPannel03 .textField08 .happyList .pic{
    position: relative;
    z-index: 5;
}
.main .textPannel03 .textField08 .happyList .desc{
    position: relative;
    z-index: 5;
}
.main .textPannel03 .textField08 .happyList h1{
    color: #000;
    border-bottom: 1px solid #9b9b9b;
    padding-bottom: 10px;
    margin: 20px 0 10px;
    font-size: 10px;
    font-weight: 100;
}
.main .textPannel03 .textField08 .happyList th{
    padding-right: 5px;
}
.main .textPannel03 .textField08 .happyList .seeImg{
    cursor: pointer;
}
.main .textPannel03 .textField08 .happyList td{
    padding-right: 8px;
}
.main .textPannel03 .textField08 .happyList .descDetail{
    background: #fff;
    padding: 10px;
    position: fixed;
    top: 10%;
    left: 50%;
    width: 921px;
    height: 470px;
    margin-left: -482px;
}

.main .textPannel03 .textField08 .happyList .close{
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
}
.main .textPannel03 .textField08 .happyList .cont{
    background: url(http://www.ascottchina.com//images/hapBg01.png) repeat left top;
    width: 296px;
    height: 415px;
    color: #ffffff;
    padding: 30px 25px 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 24px;
}
.main .textPannel03 .textField08 .happyList .linkAear{
    position: absolute;
    right: 0px;
    bottom: 23px;
    width: 100%;
}





.main .textPannel02 .textField01{
    color: #444;
}
.main .textPannel02 .textField01 .layerLe{
    float: left;
    width: 625px;
    border-right: 1px solid #e2e2e2;
    padding-right: 12px;
}
.main .textPannel02 .textField01 h2{
    color: #c89b41;
    font-size: 30px;
    margin: 15px 0 10px;
    font-weight: 100;
}
.main .textPannel02 .textField01 h1{
    color: #666;
    font-size: 14px;
    font-weight: 100;
}
.main .textPannel02 .textField01 .title{
    border-bottom: 1px dashed #cbcbcb;
    padding: 34px 0 20px;
}
.main .textPannel02 .textField01 .title a{
    color: #003768;
    display: inline-block;
    margin-right: 25px;
}
.main .textPannel02 .textField01 .map{
    background: url(http://www.ascottchina.com/images/tip01.jpg) no-repeat right center;
    padding-right: 20px;
}
.main .textPannel02 .textField01 .picShow{
    background: url(http://www.ascottchina.com/images/tip02.jpg) no-repeat right center;
    padding-right: 30px;
}
.main .textPannel02 .textField01 .wymore{
    background: url(http://www.ascottchina.com/images/tip03.jpg) no-repeat right center;
    padding-right: 24px;
}
.main .textPannel02 .textField01 .text{
    padding-top: 34px;
}
.main .textPannel02 .textField01 .layerRi{
    float: left;
    width: 304px;
    padding-left: 20px;
}
.main .textPannel02 .textField01 .contact{
    padding-top: 15px;
}
.main .textPannel02 .textField01 .contact p span{
    color: #aaa;
}
.main .priBut{
    background: url(http://www.ascottchina.com/images/picBg01.png) no-repeat left center;
    width: 136px;
    height: 42px;
    line-height: 50px;
    padding-left: 74px;
    color: #646464;
    font-size: 14px;
    margin: 18px 0;
    display: block;
}
.main .moreBut{
    background: #e0ca9c;
    height: 36px;
    line-height: 36px;
    color: #8e733c;
    text-align: center;
    width: 210px;
    display: block;
}
.main .textPannel03{
    padding: 0 0 55px;
}
.main h5{
    text-align: center;
    font-size: 30px;
    color: #444;
    padding: 43px 0 37px;
}
.main .layerLe01{
    width: 522px;
    float: left;
}
.main .textPannel03 .textField01 .linkAear01{
    margin-top: 58px;
}
.main .textPannel03 .textField01 .linkAear01 a{
    width: 113px;
    height: 30px;
    display: inline-block;
    padding-top: 128px;
    text-align: center;
    color: #666;
    margin-right: 32px;
}
.main .textPannel03 .textField01 .linkAear01 .a01{
    background: url(http://www.ascottchina.com/images/picA01_01.jpg) no-repeat;
}
.main .textPannel03 .textField01 .linkAear01 .a02{
    background: url(http://www.ascottchina.com/images/picA01_02.jpg) no-repeat;
}
.main .textPannel03 .textField01 .linkAear01 .a03{
    background: url(http://www.ascottchina.com/images/picA01_03.jpg) no-repeat;
}
.main .layerRi01{
    float: right;
    width: 440px;
}
.main .layerLe01{
    width: 522px;
    float: left;
}
.main .textPannel02 .textField02 .listCont dt{
    color: #c89b41;
    width: 425px;
    position: relative;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #dcdcdc;
}
.main .textPannel02 .textField02 .listCont .le{
    width: 50%;
    padding-left: 38px;
}
.main .textPannel02 .textField02 .listCont span{
    display: block;
    float: left;
}
.main .textPannel02 .textField02 .listCont .ri{
    width: 40%;
    text-align: center;
}
.main .textPannel02 .textField02 .listCont dd{
    width: 425px;
    position: relative;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #dcdcdc;
}
.main .textPannel02 .textField02 .listCont dd a{
    display: block;
    position: relative;
    z-index: 6;
    color: #555;
}
.main .layerRi01{
    width: 440px;
    float: right;
}
.main .textPannel02 .textField02 .imgCont .title{
    text-align: center;
    margin-bottom: 42px;
    padding-top: 10px;
}
.main .textPannel03 .textField02 dd{
    float: right;
    height: 302px;
}
.main .textPannel03 .textField02 .scorllPic{
    float: left;
    position: relative;
    width: 139px;
    margin-right: 1px;
}
.main .textPannel03 .textField02 .scorllPic .pic{
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.main .textPannel03 .textField02 .scorllPic .mask{

}
.main .textPannel03 .textField02 .desc{
    text-align: center;
    position: absolute;
    top: 150px;
    width: 100%;
    left: 0;
    z-index: 11;
}
.main .textPannel03 .textField02 .desc a{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 12px;
}
.main .textPannel03 .textField02 .scorllText{
    float: left;
    width: 0px;
    height: 302px;
    position: relative;
    overflow: hidden;
    background: #F2F2F2;
    line-height: 24px;
}
.main .textPannel03 .textField02 .scrollWidth{
    width: 246px;
    height: 272px;
    padding: 15px 10px;
    overflow: hidden;
}
.canScroll{
    position: relative;
    overflow: hidden;
    height: 272px;
}
.canScroll .scroll{
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    overflow: hidden;
    height: auto;
    width: 100%;
}
.main .textPannel03 .textField02 .scorllText em{
    color: #bf9c59;
    margin-right: 5px;
}
.main .textPannel02 .textField03 .title{
    background: url(http://www.ascottchina.com/images/servicTabLine.jpg) repeat-x left bottom;
    text-align: center;
}
.main .textPannel02 .textField03 .title a.on{
    background: #F2F2F2;
    border: 1px solid #dbdbdb;
    border-bottom: 0;
}
.main .textPannel02 .textField03 .title a{
    height: 38px;
    line-height: 38px;
    width: 105px;
    text-align: center;
    display: inline-block;
    background: #dbdbdb;
}
.main .textPannel02 .textField03 .cont ul{
    margin-right: -10px;
    overflow: hidden;
}
.main .textPannel02 .textField03 .cont li{
    float: left;
    width: 232px;
    height: 180px;
    margin: 10px 10px 0 0;
}
.main .textPannel01 .ul01{
    margin-left: -45px;
    overflow: hidden;
}
.main .textPannel01 .textField01 .ul01 li{
    margin-top: 0;
}
.main .textPannel01 .ul01 .picAear{
    margin-bottom: 10px;
}
.main .textPannel01 .ul01 li{
    float: left;
    margin: 38px 0 0 45px;
    padding-bottom: 38px;
    width: 290px;
}
































