.main{
    margin-top: -15px;
}
.main .imgPannel01{
    position: relative;
    height: auto;
    min-width: 962px;
    overflow: hidden;
    z-index: 5;
}
.main .imgPannel01 .imgField{
    width: 200%;
}
.main .imgPannel01 dd{
    float: left;
    width: 10%;
    text-align: center;
    position: relative;
}
.main .imgPannel01 dd a{
    color: #fff;
    font-size: 30px;
    border-bottom: 2px solid #fff;
    line-height: 30px;

}
.main .imgPannel01 dd .img a{
    padding: 0;
    border: 0;
    display: block;
}
.main .imgPannel01 dd img{
    width: 100%;
    height: auto;
    display: block;
}
.main .imgPannel01 dd .desc{
    position: absolute;
    left: 0px;
    top: 65%;
    text-align: center;
    width: 100%;
    font-size: 30px;
    z-index: 11;
}
.main .imgPannel01 dd a{
    color: #fff;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    display: inline-block;
}

















