{% extends 'base/base.html' %}

{% block title %}关于奥尔特 - 奥尔特中国 {% endblock %}


{% block css_js %}
    <link href="/static/company/about_ascott.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="main">
    <div class="bannerPannel">
    <div class="imgField">
        <ul class="m-demo">
            <li>
                <a>
                    <img src="http://www.ascottchina.com/images/nbanner03.jpg"/>
                </a>
            </li>

        </ul>
    </div>
    <form>
    <div class="selectField">
    <div class="wrapper">
    <div class="le">
        <h1>查找公寓</h1>
        <table cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td>
                    <select class="select01">
                        <option>中国</option>
                    </select>
                </td>
                <td>
                    <select name="pf_Country" id="pf_Country" class="select01" disabled="disabled"
                            style="display:none;">
                        <option value="CN">中国</option>
                    </select>
                    <select name="pf_City" id="pf_City" class="select01">
                        <option value="-1">所有城市</option>
                        <option value="Beijing">北京</option>
                        <option value="Chengdu">成都</option>
                        <option value="Chongqing">重庆</option>
                        <option value="Dalian">大连</option>
                        <option value="Foshan">佛山</option>
                        <option value="Guangzhou">广州</option>
                        <option value="Hangzhou">杭州</option>
                        <option value="Hefei">合肥</option>
                        <option value="Nanjing">南京</option>
                        <option value="Shanghai">上海</option>
                        <option value="Shenyang">沈阳</option>
                        <option value="Shenzhen">深圳</option>
                        <option value="Suzhou">苏州</option>
                        <option value="Taiyuan">太原</option>
                        <option value="Tianjin">天津</option>
                        <option value="Wuhan">武汉</option>
                        <option value="Wuxi">无锡</option>
                        <option value="Xian">西安</option>
                        <option value="Xiamen">厦门</option>
                        <option value="Hong Kong">香港</option>
                        <option value="Macau">澳门</option>

                    </select>

                </td>
                <td><input type="submit" class="inputBut01" value="查 看" id="btnview"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <select name="pf_Property" id="pf_Property" class="select01 w1">
                        <option value="-1">所有物业</option>
                        <optgroup label="奥尔特品牌服务公寓">
                            <option value="15" id="HY3ABJ01">北京奥尔特服务公寓</option>
                            <option value="11" id="HY3ABJ02">北京奥尔特来福士中心服务公寓</option>
                            <option value="50" id="HY3ACD01">成都奥尔特来福士</option>
                            <option value="12" id="HY3AGZ01">广州奥尔特服务公寓</option>
                            <option value="8" id="HY3AGZ02">广州国际金融中心奥尔特服务公寓</option>
                            <option value="13" id="HY3ASH01">上海奥尔特淮海路服务公寓</option>
                            <option value="48" id="HY3ASN01">深圳奥尔特美伦服务公寓</option>
                            <option value="10" id="HY3ASZ03">苏州奥尔特万科美好广场服务公寓</option>
                        </optgroup>
                        <optgroup label="馨乐庭品牌服务公寓">
                            <option value="25" id="HY3CCD03">成都馨乐庭城南服务公寓</option>
                            <option value="41" id="HY3CSH02">上海馨乐庭碧云服务公寓</option>
                            <option value="42" id="HY3CSZ01">苏州馨乐庭星海服务公寓</option>
                            <option value="51" id="HY3CWH01">武汉馨乐庭沌口服务公寓</option>
                            <option value="52" id="HY3CXA01">西安馨乐庭城中服务公寓</option>
                            <option value="43" id="HY3CXA02">西安馨乐庭高新服务公寓</option>
                            <option value="53" id="HY3CXA03">西安馨乐庭兴庆宫服务公寓</option>
                            <option value="54" id="HY3CHK01">香港馨乐庭亚士厘服务公寓</option>
                        </optgroup>
                        <optgroup label="盛捷品牌服务公寓">
                            <option value="27" id="HY3SBJ04">北京盛捷中关村服务公寓</option>
                            <option value="37" id="HY3SCD01">成都盛捷江畔服务公寓</option>
                            <option value="38" id="HY3SCQ01">重庆盛捷解放碑服务公寓</option>
                            <option value="57" id="HY3SDL02">大连盛捷天城服务公寓</option>
                            <option value="3" id="HY3SDL01">大连盛捷港湾服务公寓</option>
                            <option value="4" id="HY3SSH04">上海徐汇盛捷服务公寓</option>
                            <option value="6" id="HY3SSY01">沈阳盛捷和平服务公寓</option>
                            <option value="5" id="HY3SSN02">深圳盛捷花园城服务公寓</option>
                            <option value="7" id="HY3SSZ02">苏州盛捷绿宝广场服务公寓</option>
                            <option value="39" id="HY3STJ01">天津盛捷国际大厦服务公寓</option>
                            <option value="40" id="HY3STJ02">天津盛捷奥林匹克大厦服务公寓</option>
                            <option value="1" id="HY3STJ03">天津盛捷友谊服务公寓</option>
                            <option value="44" id="HY3SWH01">武汉盛捷武胜服务公寓</option>
                        </optgroup>
                        <optgroup label="其它服务公寓">
                            <option value="55" id="HY3UGZ03">广州盛雅服务公寓</option>
                            <option value="49" id="">深圳盐田君临海域服务公寓</option>
                            <option value="23" id="HY3UHK03">香港尚圜服务公寓</option>
                        </optgroup>

                    </select>

                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="ri" id="reservationTable">
        <table cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <th colspan="2">到达</th>
                <th>离开</th>
                <th>房晚</th>
                <td rowspan="3" valign="top" style="padding-top:20px;padding-left:27px;"><input
                        type="submit" class="inputBut01" value="预 订">

                    <div class="tool" id="viewCancel">
                        <a href="#" target="_blank" style="margin-left:0;">查看</a>|
                        <a href="#" target="_blank">修改</a>|
                        <a href="#" target="_blank">取消</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                  <span>
                  <input type="text" class="inputText01" id="res_Arrival_YY" name="res_Arrival_YY" value="2014-09-03">
                  </span>
                  <span>
                      <img src="http://www.ascottchina.com/images/detaTip.png" width="21" height="23"
                           style="cursor:pointer;">
                  </span>
                </td>
                <td>
                  <span>
                  <input type="text" class="inputText01" id="res_Departure_YY" name="res_Departure_YY"
                         value="2014-09-04">
                  </span>
                  <span>
                      <img src="http://www.ascottchina.com/images/detaTip.png" width="21" height="23"
                           style="cursor:pointer;">
                  </span>
                </td>
                <td>
                    <input type="text" class="inputText01 w2" name="Nights" id="res_Nights" value="1">
                </td>
            </tr>
            <tr>
                <td colspan="4" style="padding:0;">
                    <table cellpadding="0" cellspacing="0" id="nightsChildrenAdultContainer">
                        <tbody>
                        <tr>
                            <th>房间数</th>
                            <th id="c1">成人数</th>
                            <th id="p1">儿童数</th>
                            <th>特惠代码</th>
                        </tr>
                        <tr>
                            <td>
                                <select name="rooms" id="res_Units" class="select01 w3">
                                    <option value="1" selected="selected">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td id="liaudlt">
                                <select id="res_Adults" name="Adults" class="select01 w3">
                                    <option value="1" selected="selected">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </td>
                            <td id="lichild">
                                <select id="res_Children" name="Children" class="select01 w3">
                                    <option value="0" selected="selected">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </td>
                            <td><input type="text" id="txtcode"
                                       onblur="if(this.value==''){this.value='可选';}"
                                       onfocus="if(this.value=='可选'){this.value='';}" name="txtcode"
                                       value="可选" class="inputText01 w4"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="notForBooking" class="ri" style="display: none; color: #fff; line-height: 20px;">
        <table cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td colspan="2">很抱歉我们暂时不能为此公寓提供网上预订服务。 因此，我们的“最优房价保证”将不包括此公寓</td>
            </tr>
            <tr>
                <td>请点击查看按钮了解公寓更多信息。</td>
                <td><span id="propertyLabel"><a href=""></a></span></td>
            </tr>
            <tr>
                <td colspan="2"><span id="emailLabel"><a href="">电子邮件联系我们</a></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    </form>
    </div>
    <!--选择内容-->
    <div class="textPannel03 noFloat">
        <div class="wrapper">
            <div class="pathField">
                <a href="/">首页</a>&gt;
                <a href="/company/about_us">了解我们</a>&gt;
                <a href="/company/about_ascott" class="on">关于奥尔特</a>
            </div>
            <h6>关于我们</h6>

            <p class="text-gray" style="padding:0 0 20px 0 ">我们的公寓，处处有家！Ourtel，your homely fell！</p>

            <div class="textField05">
        <span id="LbContent">
            <p class="text-p">
                奥尔特(Ourtel)——我们的公寓！借鉴our cafe——“很多人的咖啡店”的运作模式
                ，我们的公寓来自每一个合作的公寓业主，是一个由运营商、开发商和很多公寓业主共同协作打造的公寓，
                为我们入住客人打造“最温馨有爱、最舒适宜居”的居住体验，奥尔特是我们大家的公寓。
            </p>
        <p class="text-p">
            公司在2006年从广东广州马赛国际公寓开始第一家公寓，主要开拓她他会精品公寓，截止14年6月，全国已有近40家开业公寓。
            2012年公司联合行业内资深酒店管理团队创办的专业化公寓、酒店管理团队，在深圳成立酒店托管公司——深圳思沃德酒店管理公司
            ，截止2014年6月在两广区域有13家托管酒店开业，8个筹备中的酒店和公寓项目。在全国有有30多家分店。
            2013年底，公司跟随着旅游地产的蓬勃发展趋势，设立新品牌的旅游度假公寓，全面开拓旅游度假公寓，
            首家旅游度假公寓于广东阳江海陵岛保利银滩，同期着手筹备的项目包括恒大海上夏威夷，洽谈中的项目包括：
            海南三亚、云南大理、浙江台州等地的项目。我们的公寓是专为差旅人士提供城市中心或者旅游地高品质的公寓、
            别墅的住宿设施，便捷、自由、私密的入住体验，房间格局丰富，厨房、客厅是标配，厨具、洗衣机、冰箱一应俱全，
            优质的服务融入温馨居家环境，为游客提供处处有“家”。

        </p>
        </span>

            </div>
            <h6 style="margin-top: 50px;">我们的使命和愿景</h6>

            <p class="text-gray">成为每一位客人首选的公寓品牌，<br>
                协助每一位业主获得收益，<br>
                培养每一位员工获得职业素养。<br>
                打造中国最温馨有爱、最舒适宜居公寓第一品牌，成为中国最优秀服务式公寓品牌。
            </p>
        </div>
    </div>

    <!--选择弹出框开始-->
    </div>
    <!--中间内容-->
{% endblock %}
