{% extends 'base/base.html' %}

{%  block title %}合作咨询 - 奥尔特中国 {% endblock %}


{% block css_js %}
<link href="/static/company/about_ascott.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="main">
<div class="bannerPannel">
<div class="imgField">
    <ul class="m-demo">
        <li>
            <a>
                <img src="http://www.ascottchina.com/images/joinBanner.jpg" alt=""/>
            </a>
        </li>

    </ul>
</div>
<form>
<div class="selectField">
<div class="wrapper">
<div class="le">
    <h1>查找公寓</h1>
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td>
                <select class="select01">
                    <option>中国</option>
                </select>
            </td>
            <td>
                <select name="pf_Country" id="pf_Country" class="select01" disabled="disabled"
                        style="display:none;">
                    <option value="CN">中国</option>
                </select>
                <select name="pf_City" id="pf_City" class="select01">
                    <option value="-1">所有城市</option>
                    <option value="Beijing">北京</option>
                    <option value="Chengdu">成都</option>
                    <option value="Chongqing">重庆</option>
                    <option value="Dalian">大连</option>
                    <option value="Foshan">佛山</option>
                    <option value="Guangzhou">广州</option>
                    <option value="Hangzhou">杭州</option>
                    <option value="Hefei">合肥</option>
                    <option value="Nanjing">南京</option>
                    <option value="Shanghai">上海</option>
                    <option value="Shenyang">沈阳</option>
                    <option value="Shenzhen">深圳</option>
                    <option value="Suzhou">苏州</option>
                    <option value="Taiyuan">太原</option>
                    <option value="Tianjin">天津</option>
                    <option value="Wuhan">武汉</option>
                    <option value="Wuxi">无锡</option>
                    <option value="Xian">西安</option>
                    <option value="Xiamen">厦门</option>
                    <option value="Hong Kong">香港</option>
                    <option value="Macau">澳门</option>

                </select>

            </td>
            <td><input type="submit" class="inputBut01" value="查 看" id="btnview"></td>
        </tr>
        <tr>
            <td colspan="2">
                <select name="pf_Property" id="pf_Property" class="select01 w1">
                    <option value="-1">所有物业</option>
                    <optgroup label="奥尔特品牌服务公寓">
                        <option value="15" id="HY3ABJ01">北京奥尔特服务公寓</option>
                        <option value="11" id="HY3ABJ02">北京奥尔特来福士中心服务公寓</option>
                        <option value="50" id="HY3ACD01">成都奥尔特来福士</option>
                        <option value="12" id="HY3AGZ01">广州奥尔特服务公寓</option>
                        <option value="8" id="HY3AGZ02">广州国际金融中心奥尔特服务公寓</option>
                        <option value="13" id="HY3ASH01">上海奥尔特淮海路服务公寓</option>
                        <option value="48" id="HY3ASN01">深圳奥尔特美伦服务公寓</option>
                        <option value="10" id="HY3ASZ03">苏州奥尔特万科美好广场服务公寓</option>
                    </optgroup>
                    <optgroup label="馨乐庭品牌服务公寓">
                        <option value="25" id="HY3CCD03">成都馨乐庭城南服务公寓</option>
                        <option value="41" id="HY3CSH02">上海馨乐庭碧云服务公寓</option>
                        <option value="42" id="HY3CSZ01">苏州馨乐庭星海服务公寓</option>
                        <option value="51" id="HY3CWH01">武汉馨乐庭沌口服务公寓</option>
                        <option value="52" id="HY3CXA01">西安馨乐庭城中服务公寓</option>
                        <option value="43" id="HY3CXA02">西安馨乐庭高新服务公寓</option>
                        <option value="53" id="HY3CXA03">西安馨乐庭兴庆宫服务公寓</option>
                        <option value="54" id="HY3CHK01">香港馨乐庭亚士厘服务公寓</option>
                    </optgroup>
                    <optgroup label="盛捷品牌服务公寓">
                        <option value="27" id="HY3SBJ04">北京盛捷中关村服务公寓</option>
                        <option value="37" id="HY3SCD01">成都盛捷江畔服务公寓</option>
                        <option value="38" id="HY3SCQ01">重庆盛捷解放碑服务公寓</option>
                        <option value="57" id="HY3SDL02">大连盛捷天城服务公寓</option>
                        <option value="3" id="HY3SDL01">大连盛捷港湾服务公寓</option>
                        <option value="4" id="HY3SSH04">上海徐汇盛捷服务公寓</option>
                        <option value="6" id="HY3SSY01">沈阳盛捷和平服务公寓</option>
                        <option value="5" id="HY3SSN02">深圳盛捷花园城服务公寓</option>
                        <option value="7" id="HY3SSZ02">苏州盛捷绿宝广场服务公寓</option>
                        <option value="39" id="HY3STJ01">天津盛捷国际大厦服务公寓</option>
                        <option value="40" id="HY3STJ02">天津盛捷奥林匹克大厦服务公寓</option>
                        <option value="1" id="HY3STJ03">天津盛捷友谊服务公寓</option>
                        <option value="44" id="HY3SWH01">武汉盛捷武胜服务公寓</option>
                    </optgroup>
                    <optgroup label="其它服务公寓">
                        <option value="55" id="HY3UGZ03">广州盛雅服务公寓</option>
                        <option value="49" id="">深圳盐田君临海域服务公寓</option>
                        <option value="23" id="HY3UHK03">香港尚圜服务公寓</option>
                    </optgroup>

                </select>

            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="ri" id="reservationTable">
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <th colspan="2">到达</th>
            <th>离开</th>
            <th>房晚</th>
            <td rowspan="3" valign="top" style="padding-top:20px;padding-left:27px;"><input
                    type="submit" class="inputBut01" value="预 订">

                <div class="tool" id="viewCancel">
                    <a href="#" target="_blank" style="margin-left:0;">查看</a>|
                    <a href="#" target="_blank">修改</a>|
                    <a href="#" target="_blank">取消</a>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                  <span>
                  <input type="text" class="inputText01" id="res_Arrival_YY" name="res_Arrival_YY" value="2014-09-03">
                  </span>
                  <span>
                      <img src="http://www.ascottchina.com/images/detaTip.png" width="21" height="23"
                           style="cursor:pointer;">
                  </span>
            </td>
            <td>
                  <span>
                  <input type="text" class="inputText01" id="res_Departure_YY" name="res_Departure_YY"
                         value="2014-09-04">
                  </span>
                  <span>
                      <img src="http://www.ascottchina.com/images/detaTip.png" width="21" height="23"
                           style="cursor:pointer;">
                  </span>
            </td>
            <td>
                <input type="text" class="inputText01 w2" name="Nights" id="res_Nights" value="1">
            </td>
        </tr>
        <tr>
            <td colspan="4" style="padding:0;">
                <table cellpadding="0" cellspacing="0" id="nightsChildrenAdultContainer">
                    <tbody>
                    <tr>
                        <th>房间数</th>
                        <th id="c1">成人数</th>
                        <th id="p1">儿童数</th>
                        <th>特惠代码</th>
                    </tr>
                    <tr>
                        <td>
                            <select name="rooms" id="res_Units" class="select01 w3">
                                <option value="1" selected="selected">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </td>
                        <td id="liaudlt">
                            <select id="res_Adults" name="Adults" class="select01 w3">
                                <option value="1" selected="selected">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </td>
                        <td id="lichild">
                            <select id="res_Children" name="Children" class="select01 w3">
                                <option value="0" selected="selected">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </td>
                        <td><input type="text" id="txtcode"
                                   onblur="if(this.value==''){this.value='可选';}"
                                   onfocus="if(this.value=='可选'){this.value='';}" name="txtcode"
                                   value="可选" class="inputText01 w4"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="notForBooking" class="ri" style="display: none; color: #fff; line-height: 20px;">
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td colspan="2">很抱歉我们暂时不能为此公寓提供网上预订服务。 因此，我们的“最优房价保证”将不包括此公寓</td>
        </tr>
        <tr>
            <td>请点击查看按钮了解公寓更多信息。</td>
            <td><span id="propertyLabel"><a href=""></a></span></td>
        </tr>
        <tr>
            <td colspan="2"><span id="emailLabel"><a href="">电子邮件联系我们</a></span></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</form>
</div>
<!--选择内容-->
<div class="textPannel03 noFloat">
    <div class="wrapper">
        <div class="pathField"><a href="/">首页</a>&gt;<a>合作咨询</a></div>
        <h6>委托经营管理</h6>
        <p class="text-p">
            为酒店/公寓投资商和业主提供组织严密、管理完善的专业化酒店委托管理服务，为投资商开辟更广阔的发展前景。
        </p>
        <p class="text-p">
            公司将通过委派以驻店经理为首的管理团队，代表投资者全面行使酒店管理职责，按照4星精品酒店和5星公寓管家服务质量管理体系、
            为入住客人提供高品质的专业服务，结合公司高效的市场推广战略，帮助投资商获取最大的投资回报。
        </p>
        <p class="text-p">
            现有酒店承接，提供酒店经营管理诊断服务，经营管理诊断遵循客观性、系统性、效率性、双向性、阶段性原则，
            对酒店在经营管理过程中暴露出来的问题进行科学系统的分析与研究，确定问题性质、原因和主次、帮助酒店寻求解决问题的对策
            ，提供详细的诊断报告，提高酒店利润，同时提升酒店竞争力。
        </p>
        <p class="text-p">
            新建酒店承接，派出丰富经验的酒店管理专家和市场调研专员组成的顾问团队，对项目地及其周边市场进行实质的调查研究，投资的可行性合作方案。
            合作开始后，酒店建设期间，提供酒店筹建、酒店组织架构构建，人员招聘和培训等帮助投资商建设一家硬件和软件并重的酒店。
        </p>

        <h6>合作经营</h6>
        <p class="text-p">
            灵活多变的合作方式，提供在线租赁服务；与开发商合作，为房产业主提供24小时全天候的管家服务，长短租结合经营，为业主带来最大的投资回报。
        </p>
        <h6>合作经营优势</h6>
        <p class="text-p">
            代租代管合作优势
        </p>
        <div style="background: #e2e2e2;width: 945px">
        <ul class="noFloat">
            <li class="Advantage_text1" >奥尔特代租代管服务模式</li>
            <li class="Advantage_text1" style="border-left: 0" >传统长租模式</li>
        </ul>
        <ul class="noFloat">
            <li class="Advantage_text2" style="border-top: 0">高回报</li>
            <li class="Advantage_text3" style="border-left: 0 ;border-top: 0">长短租结合经营，获得稳定回报</li>
            <li class="Advantage_text2" style="border-left: 0 ;border-top: 0">低回报</li>
            <li class="Advantage_text3" style="border-left: 0 ;border-top: 0">出租期收入稳定，市场水平的租金回报，但闲置期不确定，全年收益低，平均回报率低</li>
        </ul>
        <ul class="noFloat">
            <li class="Advantage_text2" style="border-top: 0">省事</li>
            <li class="Advantage_text3" style="border-left: 0 ;border-top: 0">一次签约，出租收益可在线实时查询</li>
            <li class="Advantage_text2" style="border-left: 0 ;border-top: 0">费事</li>
            <li class="Advantage_text3" style="border-left: 0 ;border-top: 0">反复招租</li>
        </ul>
        <ul class="noFloat">
            <li class="Advantage_text2" style="border-top: 0">省心</li>
            <li class="Advantage_text3" style="border-left: 0 ;border-top: 0">奥尔特专业团队维护保养物业，物业保值。</li>
            <li class="Advantage_text2" style="border-left: 0 ;border-top: 0">费心</li>
            <li class="Advantage_text3" style="border-left: 0 ;border-top: 0">房屋使用损耗需要业主本人或者委托他人定期维护。</li>
        </ul>
        <ul class="noFloat">
            <li class="Advantage_text2" style="border-top: 0">灵活</li>
            <li class="Advantage_text3" style="border-left: 0 ;border-top: 0">可随时入住自有物业</li>
            <li class="Advantage_text2" style="border-left: 0 ;border-top: 0">受限</li>
            <li class="Advantage_text3" style="border-left: 0 ;border-top: 0">租期内物业使用权归租客。</li>
        </ul>
        <ul class="noFloat">
            <li class="Advantage_text2" style="border-top: 0">增值服务</li>
            <li class="Advantage_text3" style="border-left: 0 ;border-top: 0">享受奥尔特公寓项目的配套设施，成为奥尔特VIP，优惠享受奥尔特系统内高品质的产品和服务。</li>
            <li class="Advantage_text2" style="border-left: 0 ;border-top: 0">增值服务</li>
            <li class="Advantage_text3" style="border-left: 0 ;border-top: 0">无</li>
        </ul>
        </div>

        <h6>委托经营管理合作优势</h6>
        <p class="text-p">
            易入行：有完备的和被市场接受的CRS系统、硬件系统、酒店营运管理系统以及完善的服务管理体系。
            少走弯路：投资人借助公司酒店行业经营，而享受产品/服务开发带来的利益（如酒店硬件装修标准、酒店管理系统、预订系统等）。
            降低运营成本：总部统筹宣传、促销、培训、统一采购等管理事务，规模化经济效益。
        </p>

        <h6>物业推荐</h6>
        <p  class="text-p">
            有合适的物业，可推荐给我们realestate@ourtelchina.com
        </p>
        <p  class="text-p">
            联系电话：8620-2982-1599
        </p>


    </div>
</div>

<!--选择弹出框开始-->
</div>
<!--中间内容-->
{% endblock %}
