{% extends 'base/base.html' %}

{%  block title %}我们的品牌 - 奥尔特中国 {% endblock %}


{% block css_js %}
<link href="/static/company/about_ascott.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="main">
<div class="bannerPannel">
<div class="imgField">
    <ul class="m-demo">
        <li>
            <a >
                <img src="http://www.ascottchina.com/images/nbanner03.jpg" alt=""/>
            </a>
        </li>

    </ul>
</div>
<form>
<div class="selectField">
<div class="wrapper">
<div class="le">
    <h1>查找公寓</h1>
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td>
                <select class="select01">
                    <option>中国</option>
                </select>
            </td>
            <td>
                <select name="pf_Country" id="pf_Country" class="select01" disabled="disabled"
                        style="display:none;">
                    <option value="CN">中国</option>
                </select>
                <select name="pf_City" id="pf_City" class="select01">
                    <option value="-1">所有城市</option>
                    <option value="Beijing">北京</option>
                    <option value="Chengdu">成都</option>
                    <option value="Chongqing">重庆</option>
                    <option value="Dalian">大连</option>
                    <option value="Foshan">佛山</option>
                    <option value="Guangzhou">广州</option>
                    <option value="Hangzhou">杭州</option>
                    <option value="Hefei">合肥</option>
                    <option value="Nanjing">南京</option>
                    <option value="Shanghai">上海</option>
                    <option value="Shenyang">沈阳</option>
                    <option value="Shenzhen">深圳</option>
                    <option value="Suzhou">苏州</option>
                    <option value="Taiyuan">太原</option>
                    <option value="Tianjin">天津</option>
                    <option value="Wuhan">武汉</option>
                    <option value="Wuxi">无锡</option>
                    <option value="Xian">西安</option>
                    <option value="Xiamen">厦门</option>
                    <option value="Hong Kong">香港</option>
                    <option value="Macau">澳门</option>

                </select>

            </td>
            <td><input type="submit" class="inputBut01" value="查 看" id="btnview"></td>
        </tr>
        <tr>
            <td colspan="2">
                <select name="pf_Property" id="pf_Property" class="select01 w1">
                    <option value="-1">所有物业</option>
                    <optgroup label="奥尔特品牌服务公寓">
                        <option value="15" id="HY3ABJ01">北京奥尔特服务公寓</option>
                        <option value="11" id="HY3ABJ02">北京奥尔特来福士中心服务公寓</option>
                        <option value="50" id="HY3ACD01">成都奥尔特来福士</option>
                        <option value="12" id="HY3AGZ01">广州奥尔特服务公寓</option>
                        <option value="8" id="HY3AGZ02">广州国际金融中心奥尔特服务公寓</option>
                        <option value="13" id="HY3ASH01">上海奥尔特淮海路服务公寓</option>
                        <option value="48" id="HY3ASN01">深圳奥尔特美伦服务公寓</option>
                        <option value="10" id="HY3ASZ03">苏州奥尔特万科美好广场服务公寓</option>
                    </optgroup>
                    <optgroup label="馨乐庭品牌服务公寓">
                        <option value="25" id="HY3CCD03">成都馨乐庭城南服务公寓</option>
                        <option value="41" id="HY3CSH02">上海馨乐庭碧云服务公寓</option>
                        <option value="42" id="HY3CSZ01">苏州馨乐庭星海服务公寓</option>
                        <option value="51" id="HY3CWH01">武汉馨乐庭沌口服务公寓</option>
                        <option value="52" id="HY3CXA01">西安馨乐庭城中服务公寓</option>
                        <option value="43" id="HY3CXA02">西安馨乐庭高新服务公寓</option>
                        <option value="53" id="HY3CXA03">西安馨乐庭兴庆宫服务公寓</option>
                        <option value="54" id="HY3CHK01">香港馨乐庭亚士厘服务公寓</option>
                    </optgroup>
                    <optgroup label="盛捷品牌服务公寓">
                        <option value="27" id="HY3SBJ04">北京盛捷中关村服务公寓</option>
                        <option value="37" id="HY3SCD01">成都盛捷江畔服务公寓</option>
                        <option value="38" id="HY3SCQ01">重庆盛捷解放碑服务公寓</option>
                        <option value="57" id="HY3SDL02">大连盛捷天城服务公寓</option>
                        <option value="3" id="HY3SDL01">大连盛捷港湾服务公寓</option>
                        <option value="4" id="HY3SSH04">上海徐汇盛捷服务公寓</option>
                        <option value="6" id="HY3SSY01">沈阳盛捷和平服务公寓</option>
                        <option value="5" id="HY3SSN02">深圳盛捷花园城服务公寓</option>
                        <option value="7" id="HY3SSZ02">苏州盛捷绿宝广场服务公寓</option>
                        <option value="39" id="HY3STJ01">天津盛捷国际大厦服务公寓</option>
                        <option value="40" id="HY3STJ02">天津盛捷奥林匹克大厦服务公寓</option>
                        <option value="1" id="HY3STJ03">天津盛捷友谊服务公寓</option>
                        <option value="44" id="HY3SWH01">武汉盛捷武胜服务公寓</option>
                    </optgroup>
                    <optgroup label="其它服务公寓">
                        <option value="55" id="HY3UGZ03">广州盛雅服务公寓</option>
                        <option value="49" id="">深圳盐田君临海域服务公寓</option>
                        <option value="23" id="HY3UHK03">香港尚圜服务公寓</option>
                    </optgroup>

                </select>

            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="ri" id="reservationTable">
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <th colspan="2">到达</th>
            <th>离开</th>
            <th>房晚</th>
            <td rowspan="3" valign="top" style="padding-top:20px;padding-left:27px;"><input
                    type="submit" class="inputBut01" value="预 订">

                <div class="tool" id="viewCancel">
                    <a href="#" target="_blank" style="margin-left:0;">查看</a>|
                    <a href="#" target="_blank">修改</a>|
                    <a href="#" target="_blank">取消</a>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                  <span>
                  <input type="text" class="inputText01" id="res_Arrival_YY" name="res_Arrival_YY" value="2014-09-03">
                  </span>
                  <span>
                      <img src="http://www.ascottchina.com/images/detaTip.png" width="21" height="23"
                           style="cursor:pointer;">
                  </span>
            </td>
            <td>
                  <span>
                  <input type="text" class="inputText01" id="res_Departure_YY" name="res_Departure_YY"
                         value="2014-09-04">
                  </span>
                  <span>
                      <img src="http://www.ascottchina.com/images/detaTip.png" width="21" height="23"
                           style="cursor:pointer;">
                  </span>
            </td>
            <td>
                <input type="text" class="inputText01 w2" name="Nights" id="res_Nights" value="1">
            </td>
        </tr>
        <tr>
            <td colspan="4" style="padding:0;">
                <table cellpadding="0" cellspacing="0" id="nightsChildrenAdultContainer">
                    <tbody>
                    <tr>
                        <th>房间数</th>
                        <th id="c1">成人数</th>
                        <th id="p1">儿童数</th>
                        <th>特惠代码</th>
                    </tr>
                    <tr>
                        <td>
                            <select name="rooms" id="res_Units" class="select01 w3">
                                <option value="1" selected="selected">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </td>
                        <td id="liaudlt">
                            <select id="res_Adults" name="Adults" class="select01 w3">
                                <option value="1" selected="selected">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </td>
                        <td id="lichild">
                            <select id="res_Children" name="Children" class="select01 w3">
                                <option value="0" selected="selected">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </td>
                        <td><input type="text" id="txtcode"
                                   onblur="if(this.value==''){this.value='可选';}"
                                   onfocus="if(this.value=='可选'){this.value='';}" name="txtcode"
                                   value="可选" class="inputText01 w4"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="notForBooking" class="ri" style="display: none; color: #fff; line-height: 20px;">
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td colspan="2">很抱歉我们暂时不能为此公寓提供网上预订服务。 因此，我们的“最优房价保证”将不包括此公寓</td>
        </tr>
        <tr>
            <td>请点击查看按钮了解公寓更多信息。</td>
            <td><span id="propertyLabel"><a href=""></a></span></td>
        </tr>
        <tr>
            <td colspan="2"><span id="emailLabel"><a href="">电子邮件联系我们</a></span></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</form>
</div>
<!--选择内容-->
<div class="textPannel03 noFloat">
    <div class="wrapper">
        <div class="pathField">
            <a href="/">首页</a>&gt;
            <a href="/company/about_us">了解我们</a>&gt;
            <a href="/company/about_brand" class="on">我们的品牌</a>
        </div>
        <h6>我们的品牌</h6>
    </div>

        <div class="textField06">
            <ul>
                <li class="textbiaoti">
                    奥尔特旅游度假公寓    “体验独特文化，尽享闲趣欢乐时光”
                </li>
                <li class="jieshao">
                    <p class="text-p">奥尔特旅游度假公寓是集团与国内各个旅游地产商联合开发的中高端旅游度假公寓品牌，
                        选址海滨、温泉、山川等旅游地产项目和养老项目，公寓按4星精品公寓设计打造，结合旅游地域文化特质和项目定位
                        ，将文化元素融入装修装饰，为度假人士带来美好的地域文化体验和温馨有爱、舒适宜居、闲趣欢乐、
                        高品质超预期的居住体验，呈现自由舒适宜居空间，你我共享美好时光。目前，广东阳江已有1家正在积极筹建中。
                    </p>
                </li>
                <img src="/static/common/image/奥尔特-南澳起云阁logo.jpg" class="brand-logo">
            </ul>
            <ul>
                <li class="textbiaoti">
                    L 华庭/公馆 “商务生活，更简单”
                </li>
                <li class="jieshao">
                    <p class="text-p">奥尔特（中国）管理有限公司旗下3-4星精品公寓，地处城市中心或者繁华成熟商圈，地理位置优越，
                        交通便利，大多数房价在300-600元。L 华庭/公馆品牌代表居家舒适感与各种酒店服务相结合的酒店式公寓，
                        设计具有现代简约之美。公寓设置多种房型、配备商务中心、健康餐饮等，倡导简约、优质、高品质的商务生活。
                        目前广州、杭州等地均筹建中的L 华庭/公馆 。
                    </p>
                </li>
                <img src="/static/common/image/奥尔特-华庭公馆logo.jpg" class="brand-logo">
            </ul>
            <ul>
                <li class="textbiaoti">
                    奥尔特智能雅居 “轻松科技、随时随地、随心所欲”
                </li>
                <li class="jieshao">
                    <p class="text-p">奥尔特智能雅居 是奥尔特（中国）管理有限公司未来打造的智能空间，
                        入住其中的你是否想象可以足不出户又能保持跟外界联系，在户外又隔空控制屋内所有的家具家电
                        ，利用手势或语音控制系统，打造智能生活，“轻松科技、随时随地、随心所欲”。
                    </p>
                </li>
                <img src="/static/common/image/奥尔特-智能雅居logo.jpg" class="brand-logo">
            </ul>
            <ul>
                <li class="textbiaoti">
                    “有家”青年驿站   “亲眼看世界，自由交流”
                </li>
                <li class="jieshao">
                    <p class="text-p">有家”青年驿站（Our hostel）是奥尔特（中国）管理有限公司旗下的“年轻”、“自由交流”酒店产品，
                        倡导自助、绿色、低碳的生活方式，鼓励青年行万里路，亲眼看世界，关爱和欣赏世界，提供世界青年相互交流的平台，
                        交互体验不同的文化。“有家”青年驿站   大多数房间价格在80元-250元之间，配备独立卫生间、书桌、床头柜、
                        24小时免费光纤上网、冷热水、独立冷暖空调等，配套咖啡书吧、台球等娱乐室。每一处的装饰都体现对青年群体的
                        用心和关爱，满足青年文艺、亲眼看世界、自由交流、交友的需求。目前，或筹建中的“有家”青年驿站   。
                    </p>
                </li>
                <img src="/static/common/image/奥尔特-有家青年驿站logo.jpg" class="brand-logo">
            </ul>
            <ul>
                <li class="textbiaoti">
                    L 度假村/宁静岛 “品味生活，闲情逸致从这一刻开始”
                </li>
                <li class="jieshao">
                    <p class="text-p">L 度假村/宁静岛 品牌将高雅公寓与奢华酒店服务融为一体，专门针对消费层次较高的国内和国际游客。
                        公寓主要位于国家A级旅游胜地。公寓从宾客初踏入这个旅游城市的那一刻开始便提供贴心服务，公寓提供宾客接送服务
                        ，公寓设24小时的前台接待、门房及行李服务。每个服务公寓内备有名品家具、美味厨房、大理石浴室以及
                        奢华亚麻织品，竭诚恭迎宾客的到来。 L 度假村/宁静岛内设有高级保健俱乐部与养生馆，包括网球馆、游泳池、
                        桑拿房等等。
                    </p>
                </li>
                <img src="/static/common/image/奥尔特-度假村宁静岛logo.jpg" class="brand-logo">
            </ul>






        </div>

</div>

<!--选择弹出框开始-->
</div>
<!--中间内容-->
{% endblock %}
