{% extends 'base/base.html' %}

{%  block title %}了解我们 - 奥尔特中国 {% endblock %}


{% block css_js %}
<link href="/static/company/about_us.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="main">
    <div class="imgPannel01 noFloat">
        <div class="imgField">
            <dl>
                <dd>
                    <div class="img">
                        <a href="/company/about_ascott">
                            <img src="http://www.ascottchina.com/images/aboutPic01.jpg">
                        </a>
                    </div>
                    <div class="desc"><a href="/company/about_ascott">关于奥尔特</a></div>

                </dd>
                <dd>
                    <div class="img">
                        <a href="/company/about_brand">
                            <img src="http://www.ascottchina.com/images/aboutPic02.jpg">
                        </a>
                    </div>
                    <div class="desc"><a href="/company/about_brand">我们的品牌</a></div>

                </dd>
                <dd>
                    <div class="img">
                        <a href="/company/about_honor">
                            <img src="http://www.ascottchina.com/images/aboutPic03.jpg">
                        </a>
                    </div>
                    <div class="desc"><a href="/company/about_honor">我们的发展史</a></div>

                </dd>
                <dd>
                    <div class="img">
                        <a href="/company/about_duty">
                            <img src="http://www.ascottchina.com/images/aboutPic04.jpg">
                        </a>
                    </div>
                    <div class="desc"><a href="/company/about_duty">联系我们</a></div>

                </dd>
                <dd>
                    <div class="img">
                        <a href="/company/about_duty">
                            <img src="http://www.ascottchina.com/images/aboutPic05.jpg">
                        </a>
                    </div>
                    <div class="desc"><a href="/company/about_duty">新闻</a></div>

                </dd>

            </dl>
        </div>
    </div>
</div>
{% endblock %}
