{% extends 'base/base.html' %}

{%  block title %}合作咨询 - 奥尔特中国 {% endblock %}


{% block css_js %}
<link href="/static/company/about_us.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="main">
    <div class="imgPannel01 noFloat">
        <div class="imgField">
            <dl>
                <dd>
                    <div class="img">
                        <a href="aboutAscott.aspx">
                            <img src="http://www.ascottchina.com/images/aboutPic01.jpg">
                        </a>
                    </div>
                    <div class="desc"><a href="aboutAscott.aspx">关于奥尔特</a></div>
                    <div class="mask" style="display: block;"></div>
                </dd>
                <dd>
                    <div class="img">
                        <a href="aboutBrand.aspx">
                            <img src="http://www.ascottchina.com/images/aboutPic02.jpg">
                        </a>
                    </div>
                    <div class="desc"><a href="aboutBrand.aspx">我们的品牌</a></div>
                    <div class="mask" style="display: block;"></div>
                </dd>
                <dd>
                    <div class="img">
                        <a href="aboutHonor.aspx">
                            <img src="http://www.ascottchina.com/images/aboutPic03.jpg">
                        </a>
                    </div>
                    <div class="desc"><a href="aboutHonor.aspx">我们的荣誉</a></div>
                    <div class="mask" style="display: block;"></div>
                </dd>
                <dd>
                    <div class="img">
                        <a href="dutyList.aspx">
                            <img src="http://www.ascottchina.com/images/aboutPic04.jpg">
                        </a>
                    </div>
                    <div class="desc"><a href="dutyList.aspx">企业社会责任</a></div>
                    <div class="mask" style="display: block;"></div>
                </dd>
                <dd>
                    <div class="img">
                        <a href="card9/index.aspx">
                            <img src="http://www.ascottchina.com/images/aboutPic05.jpg">
                        </a>
                    </div>
                    <div class="desc"><a href="card9/index.aspx">祝福贺卡</a></div>
                    <div class="mask" style="display: block;"></div>
                </dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}
