
.main{
    margin-top: -15px;
}
.main .bannerPannel{
    position: relative;
    height: 568px;
    width: 100%;
    min-width: 962;
    overflow: hidden;
    z-index: 5;
}

.main .bannerPannel .imgField{
    position: absolute;
    width: 1680px;
    height: 100%;
    left: 50%;
    top: 0;
    margin-left: -840px;
}

.main .selectField{
    background: url("http://www.ascottchina.com/images/bg01.png") repeat left top;
    height: 99px;
    width: 100%;
    padding: 10px 0;
    z-index: 6;
    position: absolute;
    top: 400px;
}




.main .textPannel03{
    padding: 0 0 55px;
}
.main .pathField{
    height: 52px;
    line-height: 52px;
    color: #c7c7c7;
}
.main .pathField a{
    margin: 0 5px;
    color: #c7c7c7;
}
.main .textPannel03 .textField03{
    position: relative;
}
.main h6{
    font-size: 30px;
    color: #c79b42;
    margin: 25px 0;
    font-weight: normal;
}
.btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
}
.btn a.le{
    background-position: left top;
    margin-right: 9px;
}
.btn a{
    background: url("http://www.ascottchina.com/images/bntBg.jpg");
    width: 30px;
    height: 30px;
    display: block;float: left;
}
.btn a.ri{
    background-position: right top;
    width: 31px;
}
.main .textPannel03 .textField03 dt{
    float: left;
    width: 408px;
    height: 642px;
    background: #f7f5f6;
    position: relative;
}
.main .textPannel03 .textField03 h4{
    font-size: 24px;
    line-height: 30px;
    color: #c79b42;
    border-bottom: 1px solid #e9e9e9;
    padding: 25px 0;
    margin: 0 18px;
}
.main .textPannel03 .textField03 h4 a{
    color: #c79b42;
    font-weight: normal;
}
.main .textPannel03 .textField03 .desc{
    padding: 0 10px;
    color: #555;
    margin: 6px 0;
    line-height: 18px;
}
.main .textPannel03 .textField03 dt .desc{
    padding: 0 18px;
    color: #555;
    margin: 20px 0;
}
.main .more{
    position: absolute;
    bottom: 8px;
}
.main .more a{
    color: #c79b42;
    border-top: 1px dashed #c89c43;
    margin-left: 10px;
    padding-top: 4px;
}
.main .textPannel03 .textField03 dt .more a{
    margin-left: 18px;
    padding-top: 10px;
}
.main .textPannel03 .textField03 dd{
    float: left;
    width: 554px;
    height: 642px;
}
.main .textPannel03 .textField03 ul{
    overflow: hidden;
    margin-top: -12px;
}
.main .textPannel03 .textField03 li{
    float: left;
    width: 265px;
    margin-left: 12px;
    margin-top: 12px;
    background: #f7f5f6;
    height: 315px;
    position: relative;
    display: inline;
}
.main .textPannel03 .textField03 h2{
    color: #c79b42;
    font-size: 14px;
    padding: 0 10px;
    margin-top: 10px;
}
.main .textPannel03 .textField03 h2 a{
    color: #c79b42;
    font-weight: normal;
}
.main .textPannel03 .textField03 h2.jiacu{
    font-size: 24px;
    line-height: 26px;
}




.promotion_2{
    display: none;
}















