body,div,dl,dd,dt,ul,li,p,table,tbody,tr,td{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-size: 12px;
    line-height: 20px;
    font-family: arial,"宋体";
    position: relative;
    color: #000;
}

.topAear dd a{
    color: #fff;
}
img{
    border: 0;
}

.wrapper{
    width: 962px;
    margin: auto;
}

a{
    text-decoration: none;
    text-transform: none;
    color: #000;
    cursor: pointer;
}
ul,ol,dl{
    list-style: none;
}





.header{
    position: relative;
    z-index: 9;
}
.topAear{
    background-color: #bfbfbf;
    height: 30px;
    line-height: 30px;
}

.topAear dl{
    float: right;
}
.topAear dd{
    float: left;
    text-align: center;
    font-size: 14px;
}
.topAear .login1{
    background: #adadad;
    width: 114px;
    color: #fff;
}
.topAear .login2{
    background: #9d9d9d;
    width: 114px;
    color: #fff;
}
.topAear .fenxiang{
    padding: 5px 12px 0 20px;
    height: 25px;
}
.topAear .language{
    background: url("http://www.ascottchina.com/images/topLine.jpg") no-repeat left center ;
    width: 52px;
    padding-left: 10px;
    position: relative;
}
.topAear .language a.linkSel{
    background: url("http://www.ascottchina.com/images/topTip02.jpg") no-repeat right center ;
    padding-right: 10px;
}

.nav{
    font-size: 13px;
    height: 81px;
    line-height: 81px;
    background: url(http://www.ascottchina.com/images/lineBg0.png) repeat-x left bottom;
    padding-bottom: 15px;
}
.nav .logo{
    float: left;
    margin-right: 80px;
    height: 81px;
}
.nav dd{
    float: left;
    margin-right: 10px;
    font-size: 14px;
}

.nav dd a{
    display: block;
    text-align: center;
    width: 110px;
}

.nav .link1{
    position: relative;
    z-index: 9;
}
.nav dd .menu{
    background: #f2f2f2;
    position: absolute;
    padding: 15px 30px 30px;
    width: 402px;
    left: -236px;
    display: none;
}
.nav dd .text{
    float: right;
    width: 124px;
    margin-right: 38px;
}
.nav dd .menu li{
    border-bottom: 1px solid #dcdbdb;
    font: 100 14px/42px "宋体";
}
.nav dd .menu li a{
    text-align: left;
}
.nav dd .img{
    width: 210px;
    margin-right: 124px;
}






.main .selectField .le{
    float: left;
    width: 322px;
    background: url("http://www.ascottchina.com/images/lineBg01.png") no-repeat right center;
    margin-right: 13px;
}
.main .selectField h1{
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    font-size: 12px;
}
.main .select01{
    width: 99px;
    height: 24px;
    line-height: 24px;
    color: #666;
}
.main .selectField .inputBut01{
    width: 68px;
    height: 24px;
    text-align: center;
    background: #ecd9b3;
    border: none;
    color: #444;
    cursor: pointer;
}
.main .selectField .w1{
    width: 208px;
}
.main .selectField td{
    padding: 0 10px 10px 0;
}
optgroup{
    font-weight: bolder;
}
.main .selectField .ri{
    float: right;
    width: 627px;
}
.main .selectField th{
    color: #fff;
    text-align: left;
    font-weight: 100;
    font-size: 12px;
}
.main .selectField .tool{
    color: #fff;
    padding-top: 10px;
}
.main .selectField .tool a{
    color: #fff;
    margin: 0 8px;
    font-size: 12px;
}
#main .selectField span{
    float: left;
    display: block;
    height: 23px;
}
.main .selectField .inputText01{
    width: 79px;
    height: 23px;
    line-height: 23px;
    color: #666;
    padding: 0 3px;
    background: #ffffff;
    float: left;
    border: 0;
}
.main .selectField .w3{
    width: 49px;
}
.main .selectField .w4{
    width: 115px;
}








.noFloat:after{
    content: "";
    display: block;
    line-height: 0;
    height: 0;
    width: 0;
    clear: both;
}

.noFloat:before{
    content: "";
    display: block;
    line-height: 0;
    height: 0;
    width: 0;
    clear: both;
}










.footer .textPannel01{
    background: #f2f2f2;
    height: 316px;
    padding: 32px 0;
    color: #666;
}
.footer .textPannel01 li{
    float: left;
    width: 290px;
}
.footer .textPannel01 h1{
    font-size: 14px;
    border-bottom: 10px;
    color: #000;
    font-weight: 100;
}
.footer .textPannel01 .more{
    color: #b28837;
}
.footer .textPannel01 .img{
    margin-top: 20px;
}
.footer .textPannel01 .linkField{
    margin: 0 45px;
    padding-left: 45px;
    width: 245px;
}
.footer .textPannel01 .link{
    margin-bottom: 50px;
}
.footer .textPannel01 .link a{
    color: #666;
}
.footer .textPannel01 li .cont{
    position: relative;
}
.footer .textPannel01 th{
    padding-right: 10px;
}
.footer .textPannel01 li .cont .wx{
    position: absolute;left: 0px;
    top: -190px;
    display: none;
}

.footer .textPannel02{
    background: #fff;
    padding: 25px 0;
    color: #ababab;
}
.footer .textPannel02 .le{
    float: left;
    width: 300px;
}
#footer .textPannel02 .link{
    overflow: hidden;
    margin-left: -8px;
}
.footer .textPannel02 .le a{
    color: #ababab;
    margin: 0 8px;
}
.footer .textPannel02 .ri{
    float: right;
    width: 640px;
}
.footer .textPannel02 .ri a{
    padding-left: 25px;
}



/*new css class*/
.text-p{
    font-size: 12px;
    line-height: 20px;
    font-family: arial,"宋体";
    color:#666;
    text-indent: 2em;
}

.text-gray{
    font-size: 12px;
    line-height: 20px;
    font-family: arial,"宋体";
    color:#666;
}

.brand-logo{
    width:240px;
}