{% extends 'base/base.html' %}

{%  block title %}合作第三方度假产品 - 奥尔特中国{% endblock %}


{% block css_js %}
<link href="/static/services/service.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="main">

    <div class="textPannel03 noFloat">
        <div class="wrapper">
            <div class="pathField"><a href="/">首页</a>&gt;<a href="/services/moment">合作第三方度假产品</a></div>

            <div class="textField08">
                <div class="happyTitle">
                    <h6>合作第三方度假产品</h6>
                    <div class="sel">
                        <div class="timeT">时间:</div>
                        <div class="timeAear selectText">

                            <select id="selYear">
                                <option value="">选择年份</option>

                                <option value="2014.09">2014.09</option>

                                <option value="2014.08">2014.08</option>

                                <option value="2014.07">2014.07</option>

                                <option value="2014.05">2014.05</option>

                                <option value="2014.04">2014.04</option>

                                <option value="2014.03">2014.03</option>

                                <option value="2014.01">2014.01</option>

                                <option value="2013.12">2013.12</option>

                            </select>
                        </div>
                    </div>

                </div>
                <div class="happyList">
                    <ul style="min-height: 1450px; width: 920px; height:750px;">
                        <li class="long" style="opacity: 1; left: 0px; top: 0px;">
                            <div class="pic">
                                <a >
                                    <img src="/static/common/image/gouhuo.jpg" width="280" style="cursor:pointer;">
                                </a>
                            </div>
                            <div class="desc">
                                <h1>
                                    <a >篝火晚会，激情四射</a>
                                </h1>
                                <table cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <th>
                                            <img src="http://www.ascottchina.com/images/hapTip01.jpg" width="18" height="12" class="seeImg">
                                        </th>
                                        <td id="num_0">3</td>
                                        <th>
                                            <img src="http://www.ascottchina.com/images/hapTip02.jpg" width="15" height="13" style="cursor:pointer;" >
                                        </th>
                                        <td id="like_0">0</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li style="opacity: 1; left: 310px; top: 0px;" class="long">
                            <div class="pic" >
                                <a >
                                    <img src="/static/common/image/hunsha.png" width="280" style="cursor:pointer;">
                                </a>
                            </div>
                            <div class="desc">
                                <h1>
                                    <a >婚纱摄影及婚礼策划，无处不在的甜蜜创意</a>
                                </h1><table cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip01.jpg" width="18" height="12" class="seeImg">
                                    </th>
                                    <td id="num_1">3</td>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip02.jpg" width="15" height="13" style="cursor:pointer;" >
                                    </th>
                                    <td id="like_1">0</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </li>
                        <li style="opacity: 1; left: 620px; top: 0px;" class="long">
                            <div class="pic" onclick="AddNum('287', 'num_1')">
                                <a>
                                    <img src="/static/common/image/grf.jpg" width="280" style="cursor:pointer;">
                                </a>
                            </div>
                            <div class="desc">
                                <h1>
                                    <a>休闲高尔夫，休闲娱乐，悦动身心</a>
                                </h1><table cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip01.jpg" width="18" height="12" class="seeImg">
                                    </th>
                                    <td id="num_2">3</td>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip02.jpg" width="15" height="13" style="cursor:pointer;" >
                                    </th>
                                    <td id="like_2">0</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </li>
                        <li style="opacity: 1; left: 0px; top: 314px;" class="long">
                            <div class="pic" onclick="AddNum('287', 'num_1')">
                                <a>
                                    <img src="/static/common/image/spa.jpg" width="280" style="cursor:pointer;">
                                </a>
                            </div>
                            <div class="desc">
                                <h1>
                                    <a >美容Spa体验馆， 满足高端人士的休闲生活</a>
                                </h1><table cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip01.jpg" width="18" height="12" class="seeImg">
                                    </th>
                                    <td id="num_3">3</td>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip02.jpg" width="15" height="13" style="cursor:pointer;" >
                                    </th>
                                    <td id="like_3">0</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </li>

                        <li style="opacity: 1; left: 310px; top: 344px;" class="long">
                            <div class="pic" onclick="AddNum('287', 'num_1')">
                                <a >
                                    <img src="/static/common/image/QQ图片20141013183937.jpg" width="280" style="cursor:pointer;">
                                </a>
                            </div>
                            <div class="desc">
                                <h1>
                                    <a>自助超市，应有尽有</a>
                                </h1><table cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip01.jpg" width="18" height="12" class="seeImg">
                                    </th>
                                    <td id="num_4">3</td>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip02.jpg" width="15" height="13" style="cursor:pointer;" >
                                    </th>
                                    <td id="like_4">0</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </li>

                        <li style="opacity: 1; left: 620px; top: 354px;" class="long">
                            <div class="pic" onclick="AddNum('287', 'num_1')">
                                <a >
                                    <img src="/static/common/image/gangqin.jpg" width="280" style="cursor:pointer;">
                                </a>
                            </div>
                            <div class="desc">
                                <h1>
                                    <a>音乐Party，共享音乐盛宴	</a>
                                </h1><table cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip01.jpg" width="18" height="12" class="seeImg">
                                    </th>
                                    <td id="num_5">3</td>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip02.jpg" width="15" height="13" style="cursor:pointer;" >
                                    </th>
                                    <td id="like_5">0</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </li>










                        <li style="opacity: 1; left: 0px; top: 624px;" class="long">
                            <div class="pic" onclick="AddNum('287', 'num_1')">
                                <a>
                                    <img src="/static/common/image/图片1.jpg" width="280" style="cursor:pointer;">
                                </a>
                            </div>
                            <div class="desc">
                                <h1>
                                    <a >Cafe、Bar会所，休闲与商务于一体 </a>
                                </h1><table cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip01.jpg" width="18" height="12" class="seeImg">
                                    </th>
                                    <td id="num_6">3</td>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip02.jpg" width="15" height="13" style="cursor:pointer;" >
                                    </th>
                                    <td id="like_6">0</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </li>

                        <li style="opacity: 1; left: 310px; top: 744px;" class="long">
                            <div class="pic" onclick="AddNum('287', 'num_1')">
                                <a >
                                    <img src="/static/common/image/图片2.jpg" width="280" style="cursor:pointer;">
                                </a>
                            </div>
                            <div class="desc">
                                <h1>
                                    <a>文化秀场活动，策划布景，激情声色</a>
                                </h1><table cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip01.jpg" width="18" height="12" class="seeImg">
                                    </th>
                                    <td id="num_7">3</td>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip02.jpg" width="15" height="13" style="cursor:pointer;" >
                                    </th>
                                    <td id="like_7">0</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </li>

                        <li style="opacity: 1; left: 620px; top: 684px;" class="long">
                            <div class="pic" onclick="AddNum('287', 'num_1')">
                                <a >
                                    <img src="/static/common/image/图片3.jpg" width="280" style="cursor:pointer;">
                                </a>
                            </div>
                            <div class="desc">
                                <h1>
                                    <a>运动项目，速度与激情、时尚与动感</a>
                                </h1><table cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip01.jpg" width="18" height="12" class="seeImg">
                                    </th>
                                    <td id="num_8">3</td>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip02.jpg" width="15" height="13" style="cursor:pointer;" >
                                    </th>
                                    <td id="like_8">0</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </li>
                        <li style="opacity: 1; left: 0px; top: 964px;" class="long">
                            <div class="pic" onclick="AddNum('287', 'num_1')">
                                <a>
                                    <img src="/static/common/image/图片4.jpg" width="280" style="cursor:pointer;">
                                </a>
                            </div>
                            <div class="desc">
                                <h1>
                                    <a >顶级私厨，满足味蕾的苛刻需求，探寻食物的本真之味 </a>
                                </h1><table cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip01.jpg" width="18" height="12" class="seeImg">
                                    </th>
                                    <td id="num_9">3</td>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip02.jpg" width="15" height="13" style="cursor:pointer;" >
                                    </th>
                                    <td id="like_9">0</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </li>

                        <li style="opacity: 1; left: 310px; top: 1084px;" class="long">
                            <div class="pic" onclick="AddNum('287', 'num_1')">
                                <a >
                                    <img src="/static/common/image/图片5.jpg" width="280" style="cursor:pointer;">
                                </a>
                            </div>
                            <div class="desc">
                                <h1>
                                    <a>文化秀场活动，策划布景，激情声色</a>
                                </h1><table cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip01.jpg" width="18" height="12" class="seeImg">
                                    </th>
                                    <td id="num_10">3</td>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip02.jpg" width="15" height="13" style="cursor:pointer;" >
                                    </th>
                                    <td id="like_10">0</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </li>

                        <li style="opacity: 1; left: 620px; top: 1024px;" class="long">
                            <div class="pic" onclick="AddNum('287', 'num_1')">
                                <a >
                                    <img src="/static/common/image/图片6.jpg" width="280" style="cursor:pointer;">
                                </a>
                            </div>
                            <div class="desc">
                                <h1>
                                    <a>红酒会所，体现高雅的生活气质，展现脱俗的生活品味……</a>
                                </h1><table cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip01.jpg" width="18" height="12" class="seeImg">
                                    </th>
                                    <td id="num_11">3</td>
                                    <th>
                                        <img src="http://www.ascottchina.com/images/hapTip02.jpg" width="15" height="13" style="cursor:pointer;" >
                                    </th>
                                    <td id="like_11">0</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </li>


                    </ul>

                </div>
            </div>
        </div>
    </div>


    <!--选择弹出框开始-->
    <div class="roomPannel roomOne" style="display:none;" id="roomPannel1">
        <div class="titleField"><span>成人数</span><span>儿童数</span></div>

        <div class="close"><img src="images/roomClose.png" width="32" height="32"></div>
    </div>
    <div class="roomPannel roomTwo" id="roomPannel2" style="display:none;">
        <div class="selectField01">
            <div class="bd noFloat">
                <div class="le">儿童年纪</div>
                <div class="ri">
                    <ul id="ulage">

                    </ul>
                </div>
            </div>
            <div class="butField">
                <input type="button" value="更新" class="inputBut01">
            </div>
            <div class="close"><img src="images/roomClose.png" width="32" height="32"></div>
        </div>
    </div>
    <!--选择弹出框结束-->
</div>
<!--中间内容-->

{% endblock %}
