{% extends 'base/base.html' %}

{% block title %}服务公寓列表 - 奥尔特中国{% endblock %}


{% block css_js %}
    <link href="/static/services/service.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="main">
    <div class="bannerPannel">
        <div class="imgField">
            <ul class="m-demo">
                <li>
                    <a >
                        <img src="http://www.ascottchina.com/images/nbanner01.jpg"/>
                    </a>
                </li>

            </ul>
        </div>
        <form>
            <div class="selectField">
                <div class="wrapper">
                    <div class="le">
                        <h1>查找公寓</h1>
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td>
                                    <select class="select01">
                                        <option>中国</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="pf_Country" id="pf_Country" class="select01" disabled="disabled"
                                            style="display:none;">
                                        <option value="CN">中国</option>
                                    </select>
                                    <select name="pf_City" id="pf_City" class="select01">

                                    </select>

                                </td>
                                <td><input type="submit" class="inputBut01" value="查 看" id="btnview"></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <select name="pf_Property" id="pf_Property" class="select01 w1">
                                        <option value="-1">所有物业</option>
                                        <optgroup label="奥尔特品牌服务公寓">
                                            <option value="48" id="HY3ASN01">深圳奥尔特美伦服务公寓</option>
                                            <option value="10" id="HY3ASZ03">苏州奥尔特万科美好广场服务公寓</option>
                                        </optgroup>


                                    </select>

                                </td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ri" id="reservationTable">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <th colspan="2">到达</th>
                                <th>离开</th>
                                <th>房晚</th>
                                <td rowspan="3" valign="top" style="padding-top:20px;padding-left:27px;"><input
                                        type="submit" class="inputBut01" value="预 订">

                                    <div class="tool" id="viewCancel">
                                        <a href="#" target="_blank" style="margin-left:0;">查看</a>|
                                        <a href="#" target="_blank">修改</a>|
                                        <a href="#" target="_blank">取消</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                  <span>
                  <input type="text" class="inputText01" id="res_Arrival_YY" name="res_Arrival_YY" value="2014-09-03">
                  </span>
                  <span>
                      <img src="http://www.ascottchina.com/images/detaTip.png" width="21" height="23"
                           style="cursor:pointer;">
                  </span>
                                </td>
                                <td>
                  <span>
                  <input type="text" class="inputText01" id="res_Departure_YY" name="res_Departure_YY"
                         value="2014-09-04">
                  </span>
                  <span>
                      <img src="http://www.ascottchina.com/images/detaTip.png" width="21" height="23"
                           style="cursor:pointer;">
                  </span>
                                </td>
                                <td>
                                    <input type="text" class="inputText01 w2" name="Nights" id="res_Nights" value="1">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="padding:0;">
                                    <table cellpadding="0" cellspacing="0" id="nightsChildrenAdultContainer">
                                        <tbody>
                                        <tr>
                                            <th>房间数</th>
                                            <th id="c1">成人数</th>
                                            <th id="p1">儿童数</th>
                                            <th>特惠代码</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select name="rooms" id="res_Units" class="select01 w3">
                                                    <option value="1" selected="selected">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </td>
                                            <td id="liaudlt">
                                                <select id="res_Adults" name="Adults" class="select01 w3">
                                                    <option value="1" selected="selected">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                </select>
                                            </td>
                                            <td id="lichild">
                                                <select id="res_Children" name="Children" class="select01 w3">
                                                    <option value="0" selected="selected">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                </select>
                                            </td>
                                            <td><input type="text" id="txtcode"
                                                       onblur="if(this.value==''){this.value='可选';}"
                                                       onfocus="if(this.value=='可选'){this.value='';}" name="txtcode"
                                                       value="可选" class="inputText01 w4"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="notForBooking" class="ri" style="display: none; color: #fff; line-height: 20px;">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td colspan="2">很抱歉我们暂时不能为此公寓提供网上预订服务。 因此，我们的“最优房价保证”将不包括此公寓</td>
                            </tr>
                            <tr>
                                <td>请点击查看按钮了解公寓更多信息。</td>
                                <td><span id="propertyLabel"><a href=""></a></span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><span id="emailLabel"><a href="">电子邮件联系我们</a></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--选择内容-->
    <div class="textPannel02 ">
        <div class="wrapper">
            <div class="pathField">
                <a href="/" style="margin-left:0">首页</a>&gt;
                <a href="/services/service">服务公寓</a>&gt;
                <a class="on">服务公寓列表</a>
            </div>

        </div>
    </div>
    <div class="textPannel03">
        <div class="wrapper">
            <div class="titleField noFloat">
                <a class="on">服务公寓列表</a>
                <a>中国物业分布</a>
            </div>
            <div class="search noFloat">
                <h2>搜索服务公寓</h2>

                <h1>在全中国搜索我们3大不同品牌的高品质服务公寓</h1>

                <form id="myForm" name="myForm">
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <th>品牌</th>
                            <td>
                                <script type="text/javascript" src="script/GetCities.js"></script>

                                <select name="brand_id" id="brandType" class="select01 w4"
                                        onchange="javascript:Js_GetCities(this.value)">
                                    <option value="0">===所有品牌===</option>

                                </select>
                            </td>
                            <th class="mar01">城市</th>
                            <td id="td_selectCities">
                                <select name="city_id" id="selectCities" class="select01 w5">
                                    <option value="0">===所有城市===</option>

                                </select>
                            </td>
                            <td class="mar02"><input type="submit" class="inputBut01" value="搜 索"></td>
                            <td><input type="button" class="inputBut01 inputB01" value="重设"
                                      ></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="textField" style="display:block">

                <dl class="noFloat">

                    {% for group in group_list %}
                        <dd>
                            <h1>{{ group.city_name }}</h1>
                            <ul>
                                {% for apartment in group.apartment_list %}
                                    <li>
                                        <a href="service_with?id={{ apartment.id }}">
                                            {{ apartment.name }}
                                        </a>
                                        {% comment %}STATUS = ((0, "未开业"), (1, "即将开业"), (2, "新开业"), (4, "已开业")){% endcomment %}
                                        {% if apartment.status == 1 %}
                                            <span class="tishi"><img src="http://www.ascottchina.com/images/tishi01.jpg"
                                                                     height="16"></span>
                                        {% elif apartment.status == 2 %}
                                            <span class="tishi"><img src="http://www.ascottchina.com/images/tishi02.jpg"
                                                                     height="16"></span>
                                        {% endif %}
                                    </li>
                                {% endfor %}

                            </ul>
                        </dd>
                    {% endfor %}

                    {% comment %}<dd>
                        <h1>成都</h1>

                        <ul>

                            <li>

                                <a href="service_with">
                                    成都奥尔特金融城服务公寓
                                </a>
                                <span class="tishi"><img src="http://www.ascottchina.com/images/tishi01.jpg"
                                                         height="16"></span>
                            </li>

                            <li>

                                <a href="service_with">
                                    成都奥尔特来福士
                                </a>

                            </li>

                            <li>

                                <a href="service_with">
                                    成都馨乐庭城南服务公寓
                                </a>
                                <span class="tishi"><img src="http://www.ascottchina.com/images/tishi02.jpg"
                                                         height="16"></span>
                            </li>

                            <li>

                                <a href="service_with">
                                    成都盛捷江畔服务公寓
                                </a>

                            </li>

                        </ul>
                    </dd>{% endcomment %}

                </dl>

            </div>
        </div>
    </div>
    <!--选择弹出框开始-->
    </div>
    <!--中间内容-->

{% endblock %}
