{% extends 'base/base.html' %}

{%  block title %}服务公寓列表 - 奥尔特中国{% endblock %}


{% block css_js %}
<link href="/static/services/service.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="main">
<div class="bannerPannel">
<div class="imgField">
    <ul class="m-demo">
        <li>
            <a >
                <img src="http://pad.ascottchina.com/upload/201405/09/201405092153253267.jpg"/>
            </a>
        </li>

    </ul>
</div>
<form>
<div class="selectField">
<div class="wrapper">
<div class="le">
    <h1>查找公寓</h1>
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td>
                <select class="select01">
                    <option>中国</option>
                </select>
            </td>
            <td>
                <select name="pf_Country" id="pf_Country" class="select01" disabled="disabled"
                        style="display:none;">
                    <option value="CN">中国</option>
                </select>
                <select name="pf_City" id="pf_City" class="select01">
                    <option value="-1">所有城市</option>
                    <option value="Beijing">北京</option>
                    <option value="Chengdu">成都</option>
                    <option value="Chongqing">重庆</option>
                    <option value="Dalian">大连</option>
                    <option value="Foshan">佛山</option>
                    <option value="Guangzhou">广州</option>
                    <option value="Hangzhou">杭州</option>
                    <option value="Hefei">合肥</option>
                    <option value="Nanjing">南京</option>
                    <option value="Shanghai">上海</option>
                    <option value="Shenyang">沈阳</option>
                    <option value="Shenzhen">深圳</option>
                    <option value="Suzhou">苏州</option>
                    <option value="Taiyuan">太原</option>
                    <option value="Tianjin">天津</option>
                    <option value="Wuhan">武汉</option>
                    <option value="Wuxi">无锡</option>
                    <option value="Xian">西安</option>
                    <option value="Xiamen">厦门</option>
                    <option value="Hong Kong">香港</option>
                    <option value="Macau">澳门</option>

                </select>

            </td>
            <td><input type="submit" class="inputBut01" value="查 看" id="btnview"></td>
        </tr>
        <tr>
            <td colspan="2">
                <select name="pf_Property" id="pf_Property" class="select01 w1">
                    <option value="-1">所有物业</option>
                    <optgroup label="奥尔特品牌服务公寓">
                        <option value="15" id="HY3ABJ01">北京奥尔特服务公寓</option>
                        <option value="11" id="HY3ABJ02">北京奥尔特来福士中心服务公寓</option>
                        <option value="50" id="HY3ACD01">成都奥尔特来福士</option>
                        <option value="12" id="HY3AGZ01">广州奥尔特服务公寓</option>
                        <option value="8" id="HY3AGZ02">广州国际金融中心奥尔特服务公寓</option>
                        <option value="13" id="HY3ASH01">上海奥尔特淮海路服务公寓</option>
                        <option value="48" id="HY3ASN01">深圳奥尔特美伦服务公寓</option>
                        <option value="10" id="HY3ASZ03">苏州奥尔特万科美好广场服务公寓</option>
                    </optgroup>
                    <optgroup label="馨乐庭品牌服务公寓">
                        <option value="25" id="HY3CCD03">成都馨乐庭城南服务公寓</option>
                        <option value="41" id="HY3CSH02">上海馨乐庭碧云服务公寓</option>
                        <option value="42" id="HY3CSZ01">苏州馨乐庭星海服务公寓</option>
                        <option value="51" id="HY3CWH01">武汉馨乐庭沌口服务公寓</option>
                        <option value="52" id="HY3CXA01">西安馨乐庭城中服务公寓</option>
                        <option value="43" id="HY3CXA02">西安馨乐庭高新服务公寓</option>
                        <option value="53" id="HY3CXA03">西安馨乐庭兴庆宫服务公寓</option>
                        <option value="54" id="HY3CHK01">香港馨乐庭亚士厘服务公寓</option>
                    </optgroup>
                    <optgroup label="盛捷品牌服务公寓">
                        <option value="27" id="HY3SBJ04">北京盛捷中关村服务公寓</option>
                        <option value="37" id="HY3SCD01">成都盛捷江畔服务公寓</option>
                        <option value="38" id="HY3SCQ01">重庆盛捷解放碑服务公寓</option>
                        <option value="57" id="HY3SDL02">大连盛捷天城服务公寓</option>
                        <option value="3" id="HY3SDL01">大连盛捷港湾服务公寓</option>
                        <option value="4" id="HY3SSH04">上海徐汇盛捷服务公寓</option>
                        <option value="6" id="HY3SSY01">沈阳盛捷和平服务公寓</option>
                        <option value="5" id="HY3SSN02">深圳盛捷花园城服务公寓</option>
                        <option value="7" id="HY3SSZ02">苏州盛捷绿宝广场服务公寓</option>
                        <option value="39" id="HY3STJ01">天津盛捷国际大厦服务公寓</option>
                        <option value="40" id="HY3STJ02">天津盛捷奥林匹克大厦服务公寓</option>
                        <option value="1" id="HY3STJ03">天津盛捷友谊服务公寓</option>
                        <option value="44" id="HY3SWH01">武汉盛捷武胜服务公寓</option>
                    </optgroup>
                    <optgroup label="其它服务公寓">
                        <option value="55" id="HY3UGZ03">广州盛雅服务公寓</option>
                        <option value="49" id="">深圳盐田君临海域服务公寓</option>
                        <option value="23" id="HY3UHK03">香港尚圜服务公寓</option>
                    </optgroup>

                </select>

            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="ri" id="reservationTable">
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <th colspan="2">到达</th>
            <th>离开</th>
            <th>房晚</th>
            <td rowspan="3" valign="top" style="padding-top:20px;padding-left:27px;"><input
                    type="submit" class="inputBut01" value="预 订">

                <div class="tool" id="viewCancel">
                    <a href="#" target="_blank" style="margin-left:0;">查看</a>|
                    <a href="#" target="_blank">修改</a>|
                    <a href="#" target="_blank">取消</a>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                  <span>
                  <input type="text" class="inputText01" id="res_Arrival_YY" name="res_Arrival_YY" value="2014-09-03">
                  </span>
                  <span>
                      <img src="http://www.ascottchina.com/images/detaTip.png" width="21" height="23"
                           style="cursor:pointer;">
                  </span>
            </td>
            <td>
                  <span>
                  <input type="text" class="inputText01" id="res_Departure_YY" name="res_Departure_YY" value="2014-09-04">
                  </span>
                  <span>
                      <img src="http://www.ascottchina.com/images/detaTip.png" width="21" height="23"
                           style="cursor:pointer;">
                  </span>
            </td>
            <td>
                <input type="text" class="inputText01 w2" name="Nights" id="res_Nights" value="1">
            </td>
        </tr>
        <tr>
            <td colspan="4" style="padding:0;">
                <table cellpadding="0" cellspacing="0" id="nightsChildrenAdultContainer">
                    <tbody>
                    <tr>
                        <th>房间数</th>
                        <th id="c1">成人数</th>
                        <th id="p1">儿童数</th>
                        <th>特惠代码</th>
                    </tr>
                    <tr>
                        <td>
                            <select name="rooms" id="res_Units" class="select01 w3">
                                <option value="1" selected="selected">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </td>
                        <td id="liaudlt">
                            <select id="res_Adults" name="Adults" class="select01 w3">
                                <option value="1" selected="selected">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </td>
                        <td id="lichild">
                            <select id="res_Children" name="Children" class="select01 w3">
                                <option value="0" selected="selected">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </td>
                        <td><input type="text" id="txtcode"
                                   onblur="if(this.value==''){this.value='可选';}"
                                   onfocus="if(this.value=='可选'){this.value='';}" name="txtcode"
                                   value="可选" class="inputText01 w4"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="notForBooking" class="ri" style="display: none; color: #fff; line-height: 20px;">
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td colspan="2">很抱歉我们暂时不能为此公寓提供网上预订服务。 因此，我们的“最优房价保证”将不包括此公寓</td>
        </tr>
        <tr>
            <td>请点击查看按钮了解公寓更多信息。</td>
            <td><span id="propertyLabel"><a href=""></a></span></td>
        </tr>
        <tr>
            <td colspan="2"><span id="emailLabel"><a href="">电子邮件联系我们</a></span></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</form>
</div>
<!--选择内容-->
<div class="textPannel02 noFloat" style="background:#f2f2f2;padding-bottom:34px;">
    <div class="wrapper">
        <div class="pathField"><a href="/" style="margin-left:0px;">首页</a>&gt;<a href="/services/service">服务公寓</a>&gt;<a class="on">服务公寓详细</a></div>

        <div class="textField01 noFloat">
            <div class="layerLe">
                <h2>{{ apartment.name }}</h2>
                <h1>{{ apartment.address }}</h1>
                <div class="title">
                    <a  class="map">互动地图</a>
                    <a href="#mao04" class="picShow">三维全景</a>
                    <a target="_blank" class="wymore" href="http://www.the-ascott.com/cn/china/beijing/ascott_beijing.html">了解更多物业详情</a>
                </div>
                <div class="text">
                    <p>
                        {{ apartment.introduction }}
                    </p>
                    <div style="border-bottom:#ffe597 1px solid;border-left:#ffe597 1px solid;padding-bottom:10px;margin:10px 0px 20px;padding-left:10px;padding-right:10px;background:#fff8e2;color:#8a0411;border-top:#ffe597 1px solid;border-right:#ffe597 1px solid;padding-top:10px;">
                        <em>{{ apartment.notice }}</em>
                    </div>
                </div>
            </div>
            <div class="layerRi">
                <div class="contact">
                    <p><span>电话：</span>{{ apartment.telephone }}</p>
                    <p><span>传真：</span>{{ apartment.fax }}</p>
                    <p><span>电话预定：</span>{{ apartment.telephone }}(免费预订热线)</p>
                    <p><span>电子邮件：</span><a href="mailto:enquiry.china@the-ascott.com">{{ apartment.email }}</a></p>
                    <p style="margin-top:38px;"><img src="http://pad.ascottchina.com/upload/Service/2014-04-17/Service_20140417103824.jpg"></p>
                </div>
                <a >最优惠房价保证</a>
                <a href="#mao05" class="moreBut">相关促销</a>
            </div>
        </div>
    </div>
</div>
<div class="textPannel03 noFloat">
    <div class="wrapper">
        <h5>交通与位置图</h5>
        <div class="textField01 noFloat">
            <div class="layerLe01">
                <div class="linkAear01">
                    <a class="a01" href="javascript:void(0)" id="btnPrint" onclick="preview()">打印位置图</a>
                    <a class="a02" >互动地图</a>
                    <a class="a03">将地址发送至手机</a>
                </div>
                <!--<img src="images/picA01.jpg" width="397" height="158" border="0" usemap="#Map" style="margin-top:58px;" />
                  <map name="Map" id="Map">
                    <area shape="rect" coords="1,0,113,164" href="#" />
                    <area shape="rect" coords="136,1,257,159" href="#" />
                    <area shape="rect" coords="264,0,406,157" href="#" />
                  </map>-->
            </div>
            <div class="layerRi01" id="printImg">
                <!--startprint-->
                <img src="http://pad.ascottchina.com/upload/20140410/20140410141338_6590.jpg">
                <!--endprint-->
            </div>
        </div>
    </div>
</div>
<div class="textPannel02 noFloat" style="background:#f2f2f2;padding-bottom:34px;">
    <div class="wrapper">
        <h5>房型/房型图</h5>
        <div class="textField02 noFloat">

            <div class="layerLe01">
                <div class="listCont">
                    <dl>
                        <dt><span class="le">房型</span><span class="ri">面积（平方米）</span></dt>


                        {% for room in room_list %}
                        <dd style="display:block;" class="">
                            <a><span class="le">{{ room.type }}</span><span class="ri">{{ room.price }}</span></a>
                            <div class="listBg" style="display: none;"></div>
                        </dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
            <div class="layerRi01">
                {% for room in room_list %}
                <div class="imgCont" style="display: none;">
                    <p class="title">{{ room.name }}</p>
                    <p style="text-align:center;"></p>

                </div>
                {% endfor %}
               {% comment %} <div class="imgCont" style="display: none;">
                    <p class="title">行政一房式公寓</p>

                    <p style="text-align:center;"><img src="http://pad.ascottchina.com/upload/Service/2014-04-10/201404101501270965.jpg" width="440" height="246"></p>

                </div>

                <div class="imgCont" style="display: block;">
                    <p class="title">豪华两房式公寓</p>

                    <p style="text-align:center;"><img src="http://pad.ascottchina.com/upload/201405/30/201405301644556366.jpg" width="440" height="246"></p>

                </div>

                <div class="imgCont" style="display: none;">
                    <p class="title">行政两房式公寓</p>

                    <p style="text-align:center;"><img src="http://pad.ascottchina.com/upload/Service/2014-04-21/201404211659117343.jpg" width="440" height="246"></p>

                </div>

                <div class="imgCont" style="display: none;">
                    <p class="title">豪华三房式公寓</p>

                    <p style="text-align:center;"><img src="http://pad.ascottchina.com/upload/Service/2014-04-10/201404101506453934.jpg" width="440" height="246"></p>

                </div>

                <div class="imgCont" style="display: none;">
                    <p class="title">行政复式公寓</p>

                    <p style="text-align:center;"><img src="http://pad.ascottchina.com/upload/201405/30/201405301646519022.jpg" width="440" height="246"></p>

                </div>

                <div class="imgCont" style="display: none;">
                    <p class="title">行政豪华复式公寓</p>

                    <p style="text-align:center;"><img src="http://pad.ascottchina.com/upload/201405/30/201405301639180428.jpg" width="440" height="246"></p>

                </div>{% endcomment %}

            </div>

        </div>
    </div>
</div>
<div class="textPannel03 noFloat">
    <div class="wrapper">
        <h5>服务与设施</h5>
        <p style="font-size:12px;margin-bottom:20px;color:#444;">+ 部分精选公寓  * 额外收费项目</p>
        <div class="textField02">

            <dl>

                <dd>
                    <div class="scorllPic accParent">
                        <div class="pic"><img src="http://www.ascottchina.com/images/serviceScorllPic05.jpg" width="139" height="302"><div class="mask"></div></div>
                        <div class="desc accordion"><a>舒适与便捷</a></div>
                    </div>
                    <div class="scorllText description">
                        <div class="scrollWidth">
                            <div class="canScroll">
                                <div class="scroll">
                                    <p>
                                        <em>&gt;</em>24小时前台接待
                                    </p>
                                    <p>
                                        <em>&gt;</em>机场接送服务*
                                    </p>
                                    <p>
                                        <em>&gt;</em>地下停车场*
                                    </p>
                                    <p>
                                        <em>&gt;</em>早餐*
                                    </p>
                                    <p>
                                        <em>&gt;</em>客房服务
                                    </p>
                                    <p>
                                        <em>&gt;</em>干、湿洗衣服务*
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </dd>

                <dd>
                    <div class="scorllPic accParent">
                        <div class="pic"><img src="http://www.ascottchina.com/images/serviceScorllPic04.jpg" width="139" height="302"><div class="mask"></div></div>
                        <div class="desc accordion"><a>安全</a></div>
                    </div>
                    <div class="scorllText description">
                        <div class="scrollWidth">
                            <div class="canScroll">
                                <div class="scroll">
                                    <div class="cont">
                                        <p><em>&gt;</em>24小时保安和闭路电视监控系统 </p>
                                        <p><em>&gt;</em>电子门禁卡 </p>
                                        <p><em>&gt;</em>室内电子保险箱</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </dd>

                <dd>
                    <div class="scorllPic accParent">
                        <div class="pic"><img src="http://www.ascottchina.com/images/serviceScorllPic03.jpg" width="139" height="302"><div class="mask"></div></div>
                        <div class="desc accordion"><a>休闲与娱乐</a></div>
                    </div>
                    <div class="scorllText description">
                        <div class="scrollWidth">
                            <div class="canScroll">
                                <div class="scroll">
                                    <div class="cont">
                                        <p><em>&gt;</em>设施齐全的健身房</p>
                                        <p><em>&gt;</em>室内儿童游乐区</p>
                                        <p><em>&gt;</em>住客休闲廊</p>
                                        <p><em>&gt;</em>住客活动</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </dd>

                <dd>
                    <div class="scorllPic accParent">
                        <div class="pic"><img src="http://www.ascottchina.com/images/serviceScorllPic02.jpg" width="139" height="302"><div class="mask" style="display: none;"></div></div>
                        <div class="desc accordion"><a class="on">商务支持</a></div>
                    </div>
                    <div class="scorllText description" style="width: 260px;">
                        <div class="scrollWidth">
                            <div class="canScroll">
                                <div class="scroll">
                                    <div class="cont">
                                        <p><em>&gt;</em>宽带上网</p>
                                        <p><em>&gt;</em>速递服务*</p>
                                        <p><em>&gt;</em>无线上网(WiFi) </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </dd>

                <dd>
                    <div class="scorllPic accParent">
                        <div class="pic"><img src="http://www.ascottchina.com/images/serviceScorllPic01.jpg" width="139" height="302"><div class="mask" style=""></div></div>
                        <div class="desc accordion"><a>公寓特色及设施</a></div>
                    </div>
                    <div class="scorllText description" style="width: 0px;">
                        <div class="scrollWidth">
                            <div class="canScroll" style="overflow: hidden;">
                                <div class="scroll" style="top: 0px;">
                                    <div class="cont">
                                        <p>
                                            <em>&gt;</em>宽带上网
                                        </p>
                                        <p>
                                            <em>&gt;</em>独立控温的中央空调
                                        </p>
                                        <p>
                                            <em>&gt;</em>浴室配毛巾和洗漱用品
                                        </p>
                                        <p>
                                            <em>&gt;</em>设施齐全的厨房：
                                        </p>
                                        <p style="padding-left:20px;color:#888;">
                                            嵌入式炉灶<br>
                                            平面炉和抽油烟机<br>
                                            电热水壶<br>
                                            玻璃和陶瓷器皿、碗碟及其它餐具<br>
                                            微波炉<br>
                                            冰箱<br>
                                            烤面包机
                                        </p>
                                        <p>
                                            <em>&gt;</em>吹风机
                                        </p>
                                        <p>
                                            <em>&gt;</em>家庭影音系统，包括:
                                        </p>
                                        <p style="padding-left:20px;color:#888;">
                                            音响系统及DVD播放机<br>
                                            卫星及有线电视频道
                                        </p>
                                        <p>
                                            <em>&gt;</em>蒸汽熨斗及熨衣板
                                        </p>
                                        <p>
                                            <em>&gt;</em>国际长途直拨电话及语音留言信箱
                                        </p>
                                        <p>
                                            <em>&gt;</em>洗衣烘干机
                                        </p>
                                    </div>
                                </div>
                                <div class="scrollBarType_01"><div class="bgT_01"></div><div class="bgT_02"></div><div class="scrollBar" style="height: 143.681415929204px;"><span class="top"></span><span class="center"></span><span class="bottom"></span></div></div><div class="scrollBarType_01"><div class="bgT_01"></div><div class="bgT_02"></div><div class="scrollBar" style="height: 143.681415929204px;"><span class="top"></span><span class="center"></span><span class="bottom"></span></div></div></div>
                        </div>
                    </div>
                </dd>

            </dl>

        </div>
    </div>
</div>
<div class="textPannel02 noFloat" style="background:#f2f2f2;padding-bottom:34px;">
    <div class="wrapper">
        <h5>照片/视频</h5>
        <div class="textField03">
            <div class="title"><a class="on">照片</a><a>三维全景</a></div>
            <div class="cont" style="display:block;">

                <ul>

                    <li><a rel="prettyPhoto[gallery2]" href="http://pad.ascottchina.com/upload/Service/2014-04-16/201404161612399843.jpg"><img src="http://pad.ascottchina.com/upload/Service/2014-04-16/201404161612399843.jpg" width="232" height="180"></a></li>

                    <li><a rel="prettyPhoto[gallery2]" href="http://pad.ascottchina.com/upload/Service/2014-04-16/201404161612290000.jpg"><img src="http://pad.ascottchina.com/upload/Service/2014-04-16/201404161612290000.jpg" width="232" height="180"></a></li>

                    <li><a rel="prettyPhoto[gallery2]" href="http://pad.ascottchina.com/upload/Service/2014-04-16/201404161612085468.jpg"><img src="http://pad.ascottchina.com/upload/Service/2014-04-16/201404161612085468.jpg" width="232" height="180"></a></li>

                </ul>
            </div>
            <div class="cont">

                <ul>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="textPannel01 noFloat">
    <div class="wrapper">
        <h5>相关促销</h5>
        <div class="textField01">

            <ul class="ul01">

                <li>
                    <div class="picAear"><a ><img src="http://pad.ascottchina.com/upload/201405/14/201405141413042412.jpg" width="290" height="183"></a></div>
                    <div class="descAear"><a >乐享7折最优弹性价优惠</a></div>
                </li>

                <li>
                    <div class="picAear"><a ><img src="http://pad.ascottchina.com/upload/201409/09/201409091350474586.jpg" width="290" height="183"></a></div>
                    <div class="descAear"><a>黄浦江游览礼遇</a></div>
                </li>

                <li>
                    <div class="picAear"><a ><img src="http://pad.ascottchina.com/upload/201409/19/201409191821142941.jpg" width="290" height="183"></a></div>
                    <div class="descAear"><a>成都馨乐庭城南服务公寓开业特惠礼遇</a></div>
                </li>

            </ul>

        </div>
    </div>
</div>

<!--选择弹出框开始-->
</div>
<!--中间内容-->

{% endblock %}
