<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        {% block title %}base title{% endblock %}
    </title>
    <meta content="奥尔特有限公司（“奥尔特”）是全球最大的国际服务公寓业主和运营商，
    在亚太、欧洲及海湾地区的20多个国家80多个城市管理200多家物业，超过35,000 套服务公寓单位。
    奥尔特旗下共有三大品牌，即奥尔特、馨乐庭以及盛捷。 " name="description">
    <link rel="stylesheet" type="text/css" href="/static/common/style.css">
    <script type="text/javascript" src="/static/base/jquery-1.9.1.js"></script>
    {% block css_js %}{% endblock %}

</head>
<body class="class">
<div class="header">
    <div class="topAear">
        <div class="wrapper">
            <dl>
                <dd class="login1">
                    公司客户登录
                </dd>
                <dd class="login2">
                    在线会员登录
                </dd>
                <dd class="fenxiang">
                        <img src="http://www.ascottchina.com/images/topTip01.jpg" width="19" height="17">
                <dd>
                    <div class="language">
                        <a  class="linkSel">English</a>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
    <div class="nav">
        <div class="wrapper">
            <dl>
                <dt class="logo">
                    <a href="/">
                        <img src="/static/common/image/奥尔特-管理有限公司logo.jpg" width="111" height="81">
                    </a>
                </dt>
                <dd><a href="/">首页</a></dd>
                <dd><a href="/services/service">服务公寓</a></dd>
                <dd><a href="/orders/promotion">优惠促销</a></dd>
                <dd class="link1" style="margin:0 15px 0 0;">
                    <a href="/company/about_us">了解我们</a>
                    <div class="menu noFloat" >
                        <div class="text">
                            <ul>
                                <li><a href=""><span>&gt;</span> 关于奥尔特</a></li>
                                <li><a href=""><span>&gt;</span> 我们的品牌</a></li>
                                <li><a href=""><span>&gt;</span> 我们的荣誉</a></li>
                                <li><a href=""><span>&gt;</span> 企业社会责任</a></li>
                                <li><a href=""><span>&gt;</span> 招贤纳士</a></li>
                                <li><a href=""><span>&gt;</span> 祝福贺卡</a></li>
                            </ul>
                        </div>
                        <div class="img" style="padding-top:38px;">
                            <img src="http://www.ascottchina.com/images/inforImg02.jpg" width="210" height="155">
                        </div>
                    </div>
                </dd>
                <dd class="link1"> <a href="/company/about_recruit">合作咨询</a>
                    <div class="menu noFloat" >
                        <div class="text">
                            <ul>
                                <li><a href="">&gt; 物业推荐</a></li>
                                <li><a href="">&gt; 委托经营管理</a></li>
                                <li><a href="">&gt; 合作经营</a></li>
                                <li><a href="">&gt; 合作优势</a></li>
                            </ul>
                        </div>
                        <div class="img" style="padding-top:18px;">
                            <img src="http://www.ascottchina.com/images/inforImg01.jpg" width="210" height="155">
                        </div>
                    </div>
                </dd>
                <dd class="link0"><a style="width: 140px" href="/services/moment">合作第三方度假产品</a></dd>
            </dl>
        </div>
    </div>
</div>
<!--页头-->

{% block content %}
这里是base.html里面的block content
{% endblock %}


<div class="footer">
    <div class="textPannel01">
        <div class="wrapper">
            <ul>
                <li class="linkField1">
                    <h1>关于我们</h1>
                    <div class="text">
                        奥尔特(Ourtel)——我们的公寓！借鉴our cafe——“很多人的咖啡店”的运作模式，
                        我们的公寓来自每一个合作的公寓业主，是一个由运营商、开发商和很多公寓业主共同协作打造的公寓，
                        为我们入住客人打造“最温馨有爱、最舒适宜居”的居住体验，奥尔特是我们大家的公寓。
                        公司在2006年从广东广州马赛国际公寓开始第一家公寓，主要开拓她他会精品公寓，截止14年6月，
                        全国已有近40家开业公寓。
                    </div>
                    <a href="/company/about_ascott" class="more">更多</a>
                    <div class="img">
                            <img src="http://www.ascottchina.com/images/img01.jpg" width="180" height="70">
                    </div>
                </li>
                <li class="linkField">
                    <h1>快速链接</h1>
                    <div class="link">
                        <a href="">联系我们</a><br>
                        <a >祝福贺卡</a><br>
                        <a href="">最优惠房价保证</a><br>
                        <a href="">网站地图</a><br>
                        <a href="">新闻动态</a><br>
                        <a href="">招贤纳士</a>
                    </div>
                    <h1>关注我们</h1>
                    <div class="fxField">
                        <a href="">
                            <img src="http://www.ascottchina.com/images/fxTip01_01.jpg" width="35" height="29">
                        </a>
                    </div>
                </li>
                <li>
                    <!--<h1>成为在线会员</h1>
                    <div class="text"><a class="more" href="#">加入成为会员</a>畅享会员特价，并通过我们的电子期刊定期接收奥尔特新闻和优惠信息</div>
                    <div class="but">
                      <input type="button" class="inputBut01" value="即刻注册" />
                    </div>-->
                    <p style="margin-bottom:85px;">
                        <img width="290" height="122" border="0" usemap="#Map" src="http://www.ascottchina.com/images/jiaImg01.jpg">
                        <map >
                            <area shape="rect" coords="13,86,120,113" href="http://www2.citadines.com/cn/myascott/signup.html?utm_campaign=MemberBenefits&amp;utm_medium=banner&amp;utm_source=HomeSignUp" onclick="window.open(_gat._getTrackers()[0]._getLinkerUrl('http://www2.citadines.com/cn/myascott/signup.html?utm_campaign=MemberBenefits&amp;utm_medium=banner&amp;utm_source=HomeSignUp')); return false;" target="_blank">
                        </map>
                    </p>
                    <h1>奥尔特手机站</h1>
                    <div class="cont">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr><th valign="top"><img src="http://www.ascottchina.com/images/phoneImg.png" width="28" height="63"></th>
                                <td valign="top"><p>当您在旅途中，您也可以与我们联系。</p>
                                    <a href="" class="more">了解更多</a></td>
                            </tr></tbody></table>
                        <div class="wx">
                            <img src="http://www.ascottchina.com/images/wxPic.png" width="185" height="199">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="textPannel02">
        <div class="wrapper">
            <div class="le">
                <div class="link">
                    <a href="">联系我们</a>|
                    <a href="">使用条款</a>|
                    <a href="">法律声明</a>
                </div>
                <p>@ 2014奥尔特中国版权所有沪ICP备12018090号
                </p><div style="display:none;">
            </div>
                <p></p>
            </div>
            <div class="ri">
                <a href="" >
                    <img src="/static/common/image/奥尔特-南澳起云阁logo.jpg" width="100" height="60">
                </a>
                <a href=""  >
                    <img src="/static/common/image/奥尔特-华庭公馆logo.jpg" width="100" height="60">
                </a>
                <a href=""  >
                    <img src="/static/common/image/奥尔特-有家青年驿站logo.jpg" width="100" height="60">
                </a>
                <a href="" >
                    <img src="/static/common/image/奥尔特-智能雅居logo.jpg" width="100" height="60">
                </a>
                <a href=""  >
                    <img src="/static/common/image/奥尔特-度假村宁静岛logo.jpg" width="100" height="60">
                </a>
            </div>
        </div>
    </div>

</div>
<!--页尾-->
</body>
</html>